[2019-10-14 05:32] #714 closed, assigned to nobody

[2019-10-14 12:43] PhilEvansTBF opened #730 "Unable to Load Theme after Migration Magento 1.9.3.7 to Magento 2.3.2"
### Preconditions (*)

1. Install Magento version 2.2.3
2. Install Theme using instructions
3. Run Theme export from Magento 1.9.3.7 and import into Magento 2.3.2.
4. Test admin access and website both work satisfactorily.

### Steps to reproduce (*)
1. Run migration using instructions at https://devdocs.magento.com/guides/v2.3/migration/migration-tool-install.html
2. Test access to admin. This wo

[2019-10-14 13:21] PhilEvansTBF commented on #730
I have just discovered that there is a design change record in Magento 1 that has been migrated to Magento 2. This sets the design to the Magento 1.9.3.7 theme rather than the Magento 2 theme.

[2019-10-14 17:03] victor-v-rad commented on #729
Hi @rakeshdonga

It is expected behavior. The quote `Please note, you can’t edit the advanced price settings for a configurable product once it’s saved. They can be specified only while creating a new configurable product:` from article
https://amasty.com/knowledge-base/how-to-set-magento-2-configurable-product-price.html

[2019-10-14 17:09] victor-v-rad commented on #730
Hi @PhilEvansTBF

Please try to find `ultimo/default` records in your migrated M2 DB > core_config_data table. If you find please show data of these records.
If you open settings.xml you can find
[code]
it means no data about themes should have been migrated to M2

[2019-10-14 19:46] #688 closed, assigned to nobody

[2019-10-14 19:46] #689 closed, assigned to nobody

[2019-10-14 19:47] #691 closed, assigned to nobody

[2019-10-14 19:47] #693 closed, assigned to nobody

[2019-10-14 19:47] #694 closed, assigned to nobody

[2019-10-14 19:47] #699 closed, assigned to nobody

[2019-10-14 19:49] #701 closed, assigned to nobody

[2019-10-14 19:49] #702 closed, assigned to nobody

[2019-10-14 19:49] #703 closed, assigned to nobody

[2019-10-14 19:49] #704 closed, assigned to nobody

[2019-10-14 19:49] #705 closed, assigned to nobody

[2019-10-14 19:50] #707 closed, assigned to nobody

[2019-10-14 19:50] #711 closed, assigned to nobody

[2019-10-14 19:50] #713 closed, assigned to nobody

[2019-10-14 19:50] #716 closed, assigned to nobody

[2019-10-14 19:51] #717 closed, assigned to nobody

[2019-10-14 19:51] #719 closed, assigned to nobody

[2019-10-14 19:51] #723 closed, assigned to nobody

[2019-10-14 19:52] #495 closed

[2019-10-14 19:52] #646 closed, assigned to nobody

[2019-10-14 19:52] #659 closed, assigned to nobody

[2019-10-14 19:53] #664 closed, assigned to nobody

[2019-10-14 19:53] #708 closed, assigned to nobody

[2019-10-15 05:52] rakeshdonga commented on #729
Hi @victor-v-rad
but i have price showing in admin product gird and frontend showing always 0 price
and fresh magento2 website in configure product price showing good

[2019-10-15 15:16] victor-v-rad commented on #729
The price field does not have 0 but dimmed according to this pic http://prntscr.com/piwhmu

[2019-10-15 15:22] victor-v-rad commented on #729
Please share a screenshot of sub products of the configurable product

[2019-10-15 15:30] victor-v-rad commented on #729
here is how it looks like in my grid
![configurable product grid](https://user-images.githubusercontent.com/106504/66846022-c1c9a180-ef36-11e9-91b9-e401e84ad9a9.png)

[2019-10-15 19:42] victor-v-rad commented on #727
Internal ticket MC-21839 to exclude `admin/url/use_custom_path` and `admin/url/use_custom` from migration

[2019-10-15 19:43] #715 closed, assigned to nobody

[2019-10-15 19:43] #728 closed, assigned to nobody

[2019-10-16 06:34] rakeshdonga commented on #729
Hello @victor-v-rad
Child Products (Sub products ) : https://prnt.sc/pjwikg
Configure Product list :https://prnt.sc/pjwiwn
Frontend : https://prnt.sc/pjwl9n
Thanks!!

[2019-10-16 12:52] rakeshdonga opened #731 "After migration Order increment Id is Duplicate"
i have migration done magento 1.9.3.7 to magento 2.3.3 with successfully
in admin i have 5 website and each website i have 3 storeview
like

- Dutch
- French
- Italian

when i am place order in Dutch store my order id  is #1000006164
and  i am place order in French store my order id  is #1000006164
also i am place order in Italian store my order id  is #1000006164

why my order id is duplicate in

[2019-10-16 20:52] victor-v-rad commented on #731
Hi @rakeshdonga

Thank you for reporting this issue. Internal ticket MC-21888 to process it

[2019-10-16 21:59] victor-v-rad commented on #729
So the problems with these two products?
![conf price](https://user-images.githubusercontent.com/106504/66962023-9aa5c980-f035-11e9-94c9-b2217bbf696b.png)
And in M1 these two products have higher then 0 price? I cannot reproduce this issue. Can you share more details about price configuration for these subproducts with 0 price or parent configurable product? I mean, maybe they have special price s

[2019-10-16 22:03] victor-v-rad commented on #729
I created configurable product on vanilla Magento 2 and see Price field as dimmed
![Vanila Configur price](https://user-images.githubusercontent.com/106504/66962516-cbd2c980-f036-11e9-814a-17c76271747c.png)
Just like with migrated configurable product.

[2019-10-16 22:05] victor-v-rad commented on #469
The story was implemented and released with 2.3.3 version

[2019-10-16 22:06] #469 closed

[2019-10-16 22:08] #718 closed, assigned to nobody

[2019-10-17 04:46] rakeshdonga commented on #729
@victor-v-rad
in my product grid configurable product price showing but when i am showing in frontend it showing 0 price and in M1 frontend price showing
https://prnt.sc/pkdqhg

[2019-10-17 05:19] jethroDavid commented on #633
I have the same problem, any fixed yet?

[2019-10-17 05:34] rakeshdonga commented on #633
@jethroDavid
you have checked in magento1 version which language use in backend  also frontend like french,dutch

[2019-10-17 09:29] jethroDavid commented on #633
thanks for your response,
Magento 1.9.1.1,
_**Backend**_ Locale - English (United State)
_**Am not so sure if this is the frontend Language**_ Default Store View = Default Store View

[2019-10-17 09:33] rakeshdonga commented on #633
@jethroDavid
i have facing same issue and i have resolved by run deploy command

[2019-10-17 09:44] jethroDavid commented on #633
@rakeshdonga thanks men, but it doesn't work

[2019-10-17 14:21] yogeshkhasturi opened #732 "Product Name and Meta Title not visible on product view page after migation"
### Preconditions

1.  From 1.9.2.4 to 2.3.2
2. Everything works fine. but the Product details page not showing the Product name and Meta title also Knockout js error in console. http://prntscr.com/pkmiaf

### Steps to reproduce

1.  After migration Open any Product detail page. https://dev.fragrances.com.ng/50-cent-power-edt-100ml-perfume-for-him.html

### Expected result

1.  Product name and me

[2019-10-18 06:35] varun2287 opened #733 "Magento Migration process gets killed automatically."
Hi Everyone,

I am new to magento and i am doing a magento migration from version 1.9.2.3 to magento 2.2.4.
My php version is 7.0 and mysql version is 5.6

While running the command
php bin/magento migrate:data -a vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.2.3/config.xml

i am getting a process killed error at product migration step.
![Screenshot (1)](https://user-images.g

[2019-10-18 12:34] rakeshdonga commented on #731
@victor-v-rad
i have same issue facing in invoice,shipment ,creditmemo in duplicate id showing

[2019-10-18 14:20] victor-v-rad commented on #731
it will be fixed for all

[2019-10-18 14:24] yogeshkhasturi commented on #732
@victor-v-rad Any news for this issue ?

[2019-10-18 14:42] yogeshkhasturi commented on #732
@victor-v-rad after resaving products one by one its working fine. but only for resaved products

[2019-10-18 15:19] victor-v-rad commented on #733
Hi @varun2287

1. The tool remembers what has been migrated and when stop due to Killed error, you can just rerun migration of data and it will continue from the point where it was stopped. But if rerun with --reset option which start from the beginning and get the error Killed again.
2. You can limit number of records fetched from M1 and inserted to M2 by <bulk_size> option from your config.xml f

[2019-10-18 16:53] victor-v-rad commented on #731
@rakeshdonga  Fixed in 2.3-develop branch. Please test

[2019-10-18 17:06] victor-v-rad commented on #163
Prefix issue was fixed in Magento 2 https://github.com/magento/magento2/issues/14063 Now prefix of increment id, like in Magento 1, depends on store view id where order was placed
Store 1 - Store View 1 (default) = order ID 10000001
Store 1 - Store View 2 = order ID 20000001
Store 2 - Store View 3 (default) = order ID 30000001
Store 2 - Store View 4 = order ID 40000001

BUT in Magento 2 increment

[2019-10-18 17:07] victor-v-rad commented on #731
Prefix issue was fixed in Magento 2 https://github.com/magento/magento2/issues/14063 Now prefix of increment id, like in Magento 1, depends on store view id where order was placed
Store 1 - Store View 1 (default) = order ID 10000001
Store 1 - Store View 2 = order ID 20000001
Store 2 - Store View 3 (default) = order ID 30000001
Store 2 - Store View 4 = order ID 40000001

Previously in Magento 2 for

[2019-10-18 17:12] rakeshdonga commented on #731
@victor-v-rad
Thanks for solving
i want to know this issue solved in invoice,shipment and creditmemo also ?
and if i want to implement in my store then again migtation is need?

[2019-10-18 17:20] victor-v-rad commented on #731
Yes fixed for invoice,shipment and creditmemo also. If you do not want to migrate again, you can fix it by changing values for sales_sequence_profile.prefix field and sales_sequence_meta.store_id field in migrated Magento 2 DB. You also can migrate only "SalesIncrement Step" step if you do not changed Magento 2 data after migration. Otherwise it is better to migrate data from scratch.

[2019-10-18 18:59] victor-v-rad commented on #732
Hi @yogeshkhasturi

I tried to reproduce the issue on vanilla Magento 1 and Magento 2. When I leave Meta Title empty in Magento 1 product edit page > migrate > Magento 2 gets title from product name. When I fill the  Meta Title filed in Magento 1 > migrate > Magento 2 shows entered Meta Title value. Please provide clear steps to reproduce to the issue you have because on vanilla Magento 1&2 it wor

[2019-10-19 07:13] yogeshkhasturi commented on #732
Here is clear steps i do.

1. I migrate Data from Magento 1 to Magento 2
2. On frontend. i can see the completed data.
3. Open Any product, No product title and meta title available on the product detail page.
4. I checked in admin if data is available or not.
5. data was available I just resave the product again.
6. Then i checked the frontend for the same product. *Title and name both are coming

[2019-10-20 10:08] varun2287 commented on #733
Hi, victor-v-rad

Thanks for your response.

I have tried the data migration command with -vvv option, it worked as the migration steps reached to sales_flat_order table this time and then get killed.

![Screenshot (5)](https://user-images.githubusercontent.com/35400881/67157940-5c6b1b80-f34f-11e9-9b7b-62f90c49a7f6.png)

As you said i rerun the same command but now the following error came
![Scree

[2019-10-20 10:11] varun2287 commented on #733
I have also used php -dmemory_limit=-1 as a prefix to the migration command, but it didn't worked.

[2019-10-21 06:23] rakeshdonga commented on #731
@victor-v-rad
i have same issue facing still also same issue facing in invoice,shipment and creditmemo
http://prntscr.com/pm2gk6

i have migration tool install using composer and i have checked my code it is not updated code

[2019-10-21 08:42] varun2287 commented on #733
Error.log file gives following error
Out of memory (allocated 1880055808) (tried to allocate 268435464 bytes) in /home/ampscooters/public_html/vendor/magento/data-migration-tool/src/Migration/ResourceModel/Adapter/Mysql.php on line 169

[2019-10-21 09:41] varun2287 commented on #733
Hi @victor-v-rad ,
I have tried your suggestions, and it worked a bit for me,
But at further steps i got this
![Screenshot (7)](https://user-images.githubusercontent.com/35400881/67194566-fcd74380-f414-11e9-86f6-cd7b3b841e97.png)
![Screenshot (8)](https://user-images.githubusercontent.com/35400881/67194572-fe087080-f414-11e9-9429-88090f60349b.png)

Please provide solution

[2019-10-21 14:33] victor-v-rad commented on #731
Please check that your code has these changes https://github.com/magento/data-migration-tool/commit/09fba3760ae58c368e73314ae65d704613510a64

[2019-10-21 14:39] victor-v-rad commented on #732
I'm sure it is reproducible on **your** environment (Magento 1 and Magento 2) but not on mine clean Magento 1 > migrate > Magento 2.

[2019-10-22 12:36] varun2287 opened #734 "After running php bin/magento setup:di:compile my domain stopped working"
Hi,
I am migrating the data from magento 1.9.2.3 to magento 2.2.4.
I have installed a new theme on my new magento 2(porto theme)
After that when i run the command
php bin/magento setup:di:compile  the domain and admin panel stopped working.

There is not any error logs.

Please help.

[2019-10-22 20:07] victor-v-rad commented on #734
Check out `magento2_root/var/log/system.log` and `magento2_root/var/log/exception.log` files as well as PHP error log. There should be something that can give a hint what happened.

[2019-10-23 12:28] varun2287 opened #735 "While migrating in magento 2 , no space left on device error raised"
Hi,

I am migrating from magento 1.9.2.3 to magento 2.2.4 and while running the migration data command
php bin/magento migrate:data -a vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.2.3/config.xml -vvv
 i got the following error

![image](https://user-images.githubusercontent.com/35400881/67392655-91c97080-f5be-11e9-93ac-191e525a543b.png)
![image](https://user-images.githubuse

[2019-10-24 11:15] varun2287 opened #736 "Product detail page giving 404 error"
Hi
I have migrated products from magento 1.9.2.3 to magento 2.2.4.I have also installed the porto theme on the new store, but there is one issue that product detail page is not opening and giving 404 error everytime.

There is also exception log -
![Screenshot (10)](https://user-images.githubusercontent.com/35400881/67480513-b33d6180-f67d-11e9-9eba-293838eb4dd9.png)

System log
![Screenshot (11)](

[2019-10-24 15:31] victor-v-rad commented on #735
You can increase hard drive space or remove unnecessary data on existing hard drive.

[2019-10-24 15:33] victor-v-rad commented on #736
Taking into account #735 maybe it is because not all data has been migrated.

[2019-10-25 01:45] KilalaPhu opened #737 "can not checkout"
i use magento migration tool to migrate data base magento 1.9.1 to magento 2.1.18
it run ok and have data but i can not checkout. it error
https://imgur.com/fe8KMfP

i try change new database with sameple data and still use this code. it can checkout. but use database had migrate it error.
https://imgur.com/ekMkES7
country it underfind

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

#

[2019-10-25 18:03] victor-v-rad commented on #737
Hi @KilalaPhu

The tool supports Magento 2.1.9 and everything later is either from 2.2 branch or 2.3. It is recommended to use the latest stable version of Magento and Data Migration Tool

[2019-10-25 18:07] jesse-thomas commented on #664
Is this fixed in the data migration tool v2.3.3? I am having a similar issue.

[2019-10-25 18:09] victor-v-rad commented on #664
yes this particular the issue was fixed in v2.3.3

[2019-10-25 18:25] jesse-thomas commented on #664
I wonder if I'm having the same issue or something else. I'm on 2.3.3/2.3.3 magento-ce/data migration tool.
After I run the migration I have to switch the default_attribute_set_id in eav_entity_type for categories to be able to save custom category attributes.
But it's just for one module's custom attributes (smile es), two other module's custom attributes are able to save and are included in the

[2019-10-25 22:07] jesse-thomas commented on #664
Reverting the commit above causes the data migration to work as expected for me, allowing custom category attributes that only exist in M2 to be saved. ie sets the default_attribute_set_id to the attribute set with all the attributes.

Should Migrated_Default contain the M2 only attributes as well?

[2019-10-30 04:04] KilalaPhu opened #739 "can you convert database M1 to M2.1.9"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

### Additional notes

[2019-10-30 22:56] victor-v-rad commented on #739
Hi @KilalaPhu

you can use data migration tool 2.1.9 for migration your Magento 2.1.9. But it is recommended to use the latest stable version and as for now it is 2.3.3

[2019-10-31 04:01] KilalaPhu commented on #737
@victor-v-rad
i error same that. can you help me how fix it.
https://github.com/magento/magento2/issues/5873
https://github.com/magento/data-migration-tool/issues/627

you can download database at : https://github.com/KilalaPhu/kilalashop/blob/master/magento2.1.18-07-10-2019.sql

[2019-10-31 04:44] KilalaPhu commented on #737
@victor-v-rad
https://github.com/magento/data-migration-tool/issues/627

[2019-10-31 13:25] varun2287 commented on #735
Hi, @victor-v-rad
I am using not using local system to migrate data, i am using a server and it shows quite a space but still i am getting this error. The Disk usage screennshot is attached.

![Screenshot (12)](https://user-images.githubusercontent.com/35400881/67950463-9ec60f80-fc0f-11e9-884f-92dfea399cee.png)

Actually the table log_visitor is quite large , it is itself 261 mb of data, is this h

[2019-10-31 14:53] odeland commented on #281
Did anyone find a solution here? It would seem that special prices that are set on individual simple product of a configurable product are not migrated.

[2019-10-31 14:58] victor-v-rad commented on #735
If there are no other way to increase memory, you can remove "Log Step" from <steps mode="data"> section in your config.xml

[2019-11-01 13:34] varun2287 commented on #735
Hi @victor-v-rad

Thanks for the reply,

If I remove the log step from config.xml, will it impact the data being migration, or not?
Please guide me.

[2019-11-04 01:12] fnogatz commented on #710
Can confirm. Came here from https://magento.stackexchange.com/a/290030/33686. The suggested SQL updates fix this.

[2019-11-04 11:01] fballiano opened #740 "1.13.1.0 -> 2.3.3: empty categories"
Hi,
I've setup data-migration-tool and successfully migrated from 1.13.1.0 to 2.3.3, backend is working fine, products are there and they're associated to categories:
<img width="273" alt="Schermata 2019-11-04 alle 11 01 18" src="https://user-images.githubusercontent.com/909743/68116330-73367400-fef2-11e9-9fc7-f084a4ccbb56.png">

Category page says "no products in this category":
<img width="1315"

[2019-11-04 15:28] victor-v-rad commented on #740
Hi @fballiano

Usually after indexing catalog products appears on Store Front. I wonder if your root category from your screenshot has ID 2 or different number?
![Default Category (ID 2)](https://user-images.githubusercontent.com/106504/68133103-69f2da80-fee5-11e9-9c40-e60fda3972b7.png)

[2019-11-04 15:30] fballiano commented on #740
absolutely, it has ID 2:
<img width="866" alt="Schermata 2019-11-04 alle 15 30 22" src="https://user-images.githubusercontent.com/909743/68133315-0fbf3d00-ff18-11e9-939e-337b1fd75828.png">

[2019-11-04 17:01] vmiwouter opened #741 "Undefined offset: 141 EAV Step failing"
Hello im migrating 1.9.4.3 to 2.3.2 but it fails on the following step:

[2019-11-04 16:50:02][INFO][mode: data][stage: data migration][step: EAV Step]: started
71% [====================>-------] Remaining Time: < 1 sec
In ErrorHandler.php line 61:

  Notice: Undefined offset: 141 in C:\xampp3\htdocs\webshop\vendor\magento\data-migration-tool\src\Migration\Step\Eav\Data.php on line 817

I did run:

[2019-11-04 20:08] victor-v-rad commented on #741
It could be that Data Integrity Step threw errors about orphan records which cannot be just ignored by -a option. You can process it as it described in https://devdocs.magento.com/guides/v2.3/migration/migration-troubleshooting.html

[2019-11-05 16:11] vmiwouter commented on #741
I tried that, but no orphan records message.

[2019-11-05 13:00:46][INFO][mode: data][stage: integrity check][step: Data Integrity Step]: started
100% [============================] Remaining Time: < 1 sec
[2019-11-05 13:00:49][ERROR]: Foreign key (FK_CATALOG_EAV_ATTRIBUTE_ATTRIBUTE_ID_EAV_ATTRIBUTE_ATTRIBUTE_ID) constraint fails on source database. Orphan records id: 121 from `catalog_eav_attribu

[2019-11-06 14:06] lernerValeriy commented on #646
Data are written to the wrong table when Delta Migration is used after this fix.
Data are written to the catalog_product_entity_text but expected catalog_product_entity_varchar.

[2019-11-06 17:04] ejsexton82 commented on #599
I'm just posting in case anyone else encounters this issue:

I encountered this error when I had orphaned records in `catalog_eav_attribute` in my destination database (not source database). The parent records in `eav_attribute` had been deleted. I'm not sure when this occurred, but I'm guessing it happened when we removed an extension that was not functioning properly.

I was able to correct the

[2019-11-06 23:10] pajtai commented on #152
I'm getting the same error too Magento 2.3.3

[code]

[2019-11-06 23:12] pajtai commented on #152
@victor-v-rad is there a work around? a bunch of people seem to be having this issue

[2019-11-08 05:01] rakeshdonga commented on #731
@victor-v-rad
Thank you for solving it
This is working fine my side, and  just i will notify you when i have install data migration tool using composer then above code updated not coming i have manually add it

[2019-11-08 15:15] victor-v-rad commented on #731
yes it is because it will be included into next 2.3.4v

[2019-11-08 20:03] victor-v-rad commented on #740
Hi @fballiano
There is a workaround to solve the issue. If use Elasticsearch 6.0+ as Search Engine in Admin Panel configuration and do indexing by running the command *bin/magento indexer:reindex catalogsearch_fulltext* then it fixes the issue

[2019-11-10 20:51] fballiano commented on #740
thank @victor-v-rad, it actually works, altho it should work also without requiring this elasticsearch step :-)

[2019-11-11 15:53] victor-v-rad commented on #740
The reason why it does not work has yet to be identified. It could be the issue within the tool or caused by some extensions from M1.

[2019-11-12 01:01] PivitParkour94 commented on #495
It's not nice, but you can also reference your own custom map files etc using a path relative to the `vendor/magento/data-migration-tool` directory. So in your example if you had `vendor/roma/CustomDataMigrationTool/etc/cool-new-map.xml` in your config.xml you can have

    <config xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="../../config.xsd">
    <options>

[2019-11-12 15:54] #741 closed, assigned to nobody

[2019-11-12 22:50] victor-v-rad commented on #740
@fballiano The fix is in https://github.com/magento/data-migration-tool/commit/cf41bb9a53f06b3729bae24534d3f85372eab8f4
I also provided patch and explanation of root cause in support ticket you created. Soon it will be available.

[2019-11-13 10:15] fballiano commented on #740
Hi @victor-v-rad, thanks so much for your support! How can I install the new version? I didn't get any notification on https://support.magento.com/hc/en-us/requests/255873 :-)

Thanks again!

[2019-11-13 15:54] victor-v-rad commented on #740
You can get it if backup and then remove vendor/magento/data-migration-tool directory. Then install from the branch 2.3-develop by running the commands
[code]
But in https://support.magento.com/hc/en-us/requests/255873 you will soon get instructions how to fix it on the migrated DB.

[2019-11-14 10:51] fballiano commented on #740
Thank you very much again!

[2019-11-14 10:51] #740 closed, assigned to nobody

[2019-11-14 23:20] magefast commented on #213
`[2017-01-03 13:53:10][ERROR]: Foreign key (FK_CATALOG_COMPARE_ITEM_CUSTOMER_ID_CUSTOMER_ENTITY_ENTITY_ID) constraint fails. Orphan records id: 0 from `catalog_compare_item`.`customer_id` has no referenced records in `customer_entity``

Seems need to check **SOURCE** table.
Not exist Customer Id - 0
Need set NULL instead 0 in Source table.

Seems , the best solution - need additional SQL for pre-m

[2019-11-19 07:00] LiamKarlMitchell commented on #162
That's silly, can't it just ignore the rules if they are ambiguous if table is ignored no need to do renames etc.

[2019-11-19 09:06] pocallaghan commented on #729
The believe frontend of the site determines the price based on the associated simples, I imagine if you look at the "current variations" grid under "Configurations" of the product edit page for the configurable, you'll see that the simple products have a price of 0.

I'd argue the migration should copy the configurable price to the associated simples, however the problem there is there doesn't app

[2019-11-19 09:24] LiamKarlMitchell opened #742 "Undefined offset: 19 in EAV/Data.php on line 279 1.9.0.1 os-os 2.3.2"
### Preconditions

1. Magento 1.9.0.1 OS
2. Magento 2.3.2 OS

### Steps to reproduce

1. Irrelevant.

### Expected result

1. It should just continue or at least tell me what the problem is the integrity checks did not have issues.

### Actual result

Error.
![image](https://user-images.githubusercontent.com/1968109/69133761-4a7dc380-0b1b-11ea-91d2-bd1569296179.png)
[code]
[code]
[code]
### Additi

[2019-11-19 09:41] LiamKarlMitchell commented on #742
![image](https://user-images.githubusercontent.com/1968109/69135250-b2cda480-0b1d-11ea-8bce-25043378bea5.png)

Need to wipe those out too, the old Magento 1 db doesn't have constraints/cascade delete etc it would seem...

[code]

But now I'm getting this.
SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '61-96' for key 'EAV_ENTITY_ATTRIBUTE_ATTRIBUTE_SET_ID_ATTRIBUTE_ID'

[2019-11-19 09:51] LiamKarlMitchell commented on #235
Still a problem in 2.3.2 when saving eav_attribute_group or maybe its eav_attribute_set...

eav_attribute_set has a unique constraint named EAV_ATTRIBUTE_SET_ENTITY_TYPE_ID_ATTRIBUTE_SET_NAME on the column `entity_type_id`, `attribute_set_name`

So my source data must have duplicates that violate this go figure.
Among other places....

[code]
Stack
[code]
Then on re-run
[code]

Thankfully it retai

[2019-11-19 17:57] rain2o opened #743 "Database Password in module config file"
### Preconditions

1. All versions

### Steps to reproduce

1. Create a module for configuring migration tool as per instructions [in the dev docs](https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html#configure-migration-in-a-separate-module)

### Expected result

1. Sensitive information such as database credentials should not be stored in a module file.

### Actual res

[2019-11-22 00:14] shurui91 commented on #373
I wonder do we need to do anything extra in order to modify the time related to credit memos? Thanks! @victor-v-rad

[2019-11-22 03:10] rddewan opened #744 "Error 500 on product edit page after migration 1.9.3.10 - 2.3.3"
I have been try to do migration every thing goes well but when click on product edit  and customer edit its always giving error 500
/admin_1220ab/catalog/product/edit/id/21/key/39cbbba235d8cd2204c602825b3a4c1ae4e0ddbc52f7cf7778f0a789110ae672/

### Preconditions

1.  Magento 1 = 1.9.3.10
2.  Magento 2 = 2.3.3
3. PHP = 7.3
4. MySQl = 5.6.45

### Steps to reproduce

I have already run
reindex
clear c

[2019-11-22 05:17] iovistainc opened #745 "URL Rewrite error/rollback during migration."
### Preconditions

1. Magento 1.9.3.9 CE

![wearwell_admin](https://user-images.githubusercontent.com/16300151/69399752-58973400-0d15-11ea-8093-ab3eaffac679.png)

2. Magento 2.3.3
3. PHP 7.2.x

### Steps to reproduce

1. Run migration using instructions at https://devdocs.magento.com/guides/v2.3/migration/migration-tool-install.html
2. Volume check failed at URL Rewrite Step.
3. Error occurred. Ro

[2019-11-25 07:57] baljinderimpinge opened #746 "Magento 2 data migration error"
Hello Support,

I am migrating our magento 1.9.1.0 site to mahento 2.2.3 and during data migration I am getting this below error.
Warning: array_key_exists() expects parameter 2 to be array, boolean given
  in /vendor/magento/data-migration-tool/src/Mi
  gration/Handler/SerializeToJson/SalesOrderItem.php on line 77

I have attached the screenshot as well. http://prntscr.com/q1mso5
@victor-v-rad  P

[2019-11-25 13:00] varun2287 opened #747 "Fatal error: Uncaught Error: Call to undefined function mime_content_type()"
I have migrated the magento from 1.9.2.3 to 2.2.4, but for some reasons i have to upgrade it to 2.3.1

After upgrading magento from version 2.2.4 to 2.3.1, i am getting this error on insert images page in admin panel.

Fatal error: Uncaught Error: Call to undefined function mime_content_type() in /home/ampscooters/public_html/vendor/magento/module-cms/Model/Wysiwyg/Images/Storage.php:331 Stack tra

[2019-11-25 20:57] victor-v-rad commented on #743
Hi @rain2o

The config.xml file can be stored outside Magento directory and the path of running migration can be 'bin/magento migrate:settings /home/user/config.xml'. Does it solve your security concern?

[2019-11-25 21:24] victor-v-rad commented on #744
Hi @rddewan

Thank you for reporting this issue. In the directories magento/var/report and magento/var/log you can find more details about this error and share here

[2019-11-25 21:36] rain2o commented on #743
@victor-v-rad yes that is a workaround but it’s inconvenient. Since the config file contains other configurations around migration, steps, paths to other config files, etc... it would be useful to have this file managed in version control so that we don’t have to maintain this file in several places. Then having an external location to get sensitive information from. Does that make sense?

[2019-11-25 22:05] victor-v-rad commented on #743
It make sense and MC-29164 was created to implement it. It is unlikely to happen in the nearest future but the tool is open source and you can implement the needed functionality and share with all Magento community in pull request.

[2019-11-25 22:17] victor-v-rad commented on #745
Hi @iovistainc

Thank you for reporting this issue. You can remove the words `implements RollbackInterface` from \Migration\Step\UrlRewrite\Version191to2000 class, run migration and count records core_url_rewrite in Magento 1 and url_rewrite + cms_page in Magento 2 and compare

[2019-11-25 22:51] victor-v-rad commented on #746
Hi @baljinderimpinge

Thank you for reporting this issue. Internal ticket MC-29169 was created to fix it

[2019-11-25 23:30] victor-v-rad commented on #747
Hi @varun2287

Thank you for reporting this issue. This issue could be caused by Magento 2 itself and not by the tool. Please consider to report it in https://github.com/magento/magento2 repository

[2019-11-26 03:28] rddewan commented on #744
hi @victor-v-rad

Thank you for your reply . I have checked test it many times but it look like if i do migration which has single store its working fine only on the customer side i had to manually removed 3rd party created column from DB Table.
If i do import with multi store site the problem is there in the map.xml  file i found  some mapping config can you provide a sample on how should i map m

[2019-11-26 15:10] victor-v-rad commented on #744
@rddewan Stores and websites are migrated in migrate:settings command inside "Stores Step"

[2019-11-28 20:03] PhenomAmd opened #748 "Migrating products"
I have been trying to only import produt photos , description stock and price i have tried every weird idea i saw on the internet one of the most ideas that seems to approach what i want is only by exporting CSV (however i still cant get it to work) i dont want/need anything else following migration guides has leaded me to my most important approach.
### Preconditions

PHP 7..3
MySQL 5.7.28
magent

[2019-11-28 20:07] PhenomAmd commented on #748
omg i cant edit the first post im using Ubuntu Xenial 16.0.4 on a 2 cores server along with 2gb ram i really really just want to get this migration done

important note i forgot in the past when that store has been made (1.9.3.8) all the stock items and so on came from a prestashop store migrated by litextension the files are even there aswell as alo electro by alothemes installed however i dont w

[2019-11-29 06:23] baljinderimpinge opened #749 "Magento 2 catgeory admin error after migration"
Hello Support,

I have migrated my magento 1.9.1.0 site to Magento 2.2.3 and everything is working fine except categories in admin.
I am getting this error
`{"0":"The store that was requested wasn't found. Verify the store and try again.","1":"<pre>#1 Magento\\Store\\Model\\StoreManager->getStore(15) called at [vendor\/magento\/module-cms\/Model\/ResourceModel\/AbstractCollection.php:85]\n#2 Magen

[2019-11-29 10:32] PhenomAmd commented on #748
UPDATE: For all thoose users who in the past used LitExtension as a migration service and decided to "completly uninstall" it, you will get this problems along with some others after looking documentation on how to "map" i realized that lecamg tables where holding "too much data" around 700 or more registries so if you are planning to migrate download first all lecam tables there should be 4 (leca

[2019-11-29 10:33] #748 closed, assigned to nobody

[2019-11-30 03:00] rddewan commented on #744
@victor-v-rad  thanks for your information

[2019-12-02 10:37] abkrim opened #750 "map.xml destination document rules not work with one document"
### Preconditions

1. Magento 1.9.3.1
2. Magento 2.3.3

### Steps to reproduce
1. Edit vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.1/map.xml for exclude
[code]
2. Edit vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.1/map.xml
[code]
3. Run migration
[code]

### Expected result
This is last check of migrate data. Must be pass, almost without last erro

[2019-12-02 13:14] varun2287 opened #751 "Design of website hampered after running rm -rf generated var/cache var/view-preprocessed"
Hi ,
I am working on magento 2.3.1 with php 7.1
 My website was running well but there was some image upload issue so i ran following commands-
1-rm -rf generated/* var/cache/* var/view_preprocessed/*
2- php bin/magento setup:upgrade
3-php bin/magento setup:di:compile
4-php bin/magento setup:static-content:deploy -f
5-php bin/magento indexer:reindex
6-php bin/magento cache:clean
7-php bin/magento

[2019-12-02 17:02] #744 closed, assigned to nobody

[2019-12-02 17:06] victor-v-rad commented on #749
Hi @baljinderimpinge

Thank you for reporting this issue. Please recheck that all stores were migrated. You can check it in 'store', 'store_group', 'store_website' Magento 2 tables

[2019-12-02 17:15] victor-v-rad commented on #750
Hi @abkrim

Thank you for reporting this issue. The file map.xml is used by Map step and this step does not process inventory_shipment_source table. So you cannot <ignore> it in map.xml file. This table processed by Inventory step and it should exist in Magento 2 database

[2019-12-02 17:30] victor-v-rad commented on #751
Hi @varun2287

Thank you for reporting this issue. Migrated Magento 1 store and run all these command you mentioned and all images are in place and Magento 2 without any issues. Please try to use the latest  Magento 2.3.3 and tool 2.3.3

[2019-12-03 11:33] abkrim commented on #750
Hi. Thanks for the reply. An error in the error view. Even so, your answer baffles me. I am still working in test mode, from a pure magento installation via composer, and the referenced table does not exist, inventory_shipment_source

Have I lost myself on the site?

[2019-12-03 13:53] bharanikonda opened #752 "Migration Tool is not working for orders"
Hi,

I am trying to migrate our Magento 1(1.9.4.2) orders data to Magento 2 commerce but I am struck with below error.

[2019-12-03 13:41:41][WARNING]: Mismatch of entities in the document: sales_order_grid Source: 115740 Destination: 0
[2019-12-03 13:41:41][WARNING]: Mismatch of entities in the document: sales_invoice_grid Source: 115116 Destination: 0
[2019-12-03 13:41:41][WARNING]: Mismatch of

[2019-12-03 16:42] victor-v-rad commented on #750
So no st1_inventory_shipment_source and inventory_shipment_source tables in your M2 DB? What about inventory_source_item and inventory_stock_sales_channel? If your Magento 2 use st1_ prefix for the tables then these tables should have that prefix also

[2019-12-03 16:51] abkrim commented on #750
Hi.

`st1_` is my prefix.

On my M2 (fresh install, composer) after install modules for m2, there're not `st1_inventory_shipment_source or *inventory_shipment_source`

![Screenshot_20191203_174843](https://user-images.githubusercontent.com/1238625/70071194-3a72e300-15f5-11ea-9ba5-b382fe973468.jpg)

I see that the table nventory_shipment_source  is part of M2...

I can't understand why I didn't hav

[2019-12-03 16:57] victor-v-rad commented on #752
Hi @bharanikonda

Thank you for reporting this issue. It is hard to guess why sales grid tables were not migrated. But you should be able to fix it by running php bin/magento indexer:reindex command and flush cache

[2019-12-03 17:13] victor-v-rad commented on #750
Please check if your the module magento/module-inventory-shipping is installed and enabled in your Magento 2. Also the command php bin/magento setup:upgrade might help install that table

[2019-12-03 19:58] abkrim commented on #750
Just, Module disable.

Now, I enable and after upgrade and table is in database.

A last question... there are any map of database magento (tables and relations or similar) ?

Best regards and Very appreciated and grateful for your help.

[2019-12-04 06:41] bharanikonda commented on #752
Hi @victor-v-rad

Thanks for your suggestion.

I have tried that as well but still getting the same issue. FYI, I am trying below command to migrate the data,
php bin/magento migrate:data -r -a app/code/Vendor/Migration/etc/opensource-to-commerce/1.9.4.2/config.xml

Can you please help me to resolve the issue.

FYI, I am trying to migrate open-source 1.9.4.2 data to cloud 2.3.3 and I have observed

[2019-12-04 07:29] varun2287 opened #753 "AfterMigrate: Error opening Customer->All Customer in admin panel"
Hi,
I have migrated from magento 1.9.2.3 to magento 2.2.4 and then i upgraded it to 2.3.3.
I was getting error on 2.2.4 and also now on 2.3.3 while accessing the Customer->All Customers in admin panel.

1 exception(s):
Exception #0 (Magento\Framework\Exception\RuntimeException): Type Error occurred when creating object: Magento\Eav\Model\Entity\Attribute\Source\Config

Exception #0 (Magento\Framew

[2019-12-04 09:18] abkrim commented on #235
Same for me, in 2.3.3 form 1.9.3.1

[code]
0 results

ON originbl M1
[code]

[2019-12-04 10:32] iovistainc commented on #745
Hi @victor-v-rad

I have removed `implements RollbackInterface` from \Migration\Step\UrlRewrite\Version191to2000 class and re-run migration and still, I got Volume checked failed error for URL Rewrite step. I have compared the count and got a result as below.

Magento 1 core_url_rewrite there are 320444 entries and in Magento 2 url_rewrite (320787) + cms_page (188) = 320975 entries.

[2019-12-04 12:27] niksjethva commented on #210
Hello guys,

`I am trying to migrate Magento 1.9.3.10 to Magento 2.3.3 but I got stuck  [Eav step] data migration with the same error Like :`

Please check below screenshot:
![image](https://user-images.githubusercontent.com/50106354/70142110-83db3500-16be-11ea-9dee-38c79d841571.png)

I have tried every possibility to get this resolved but bad luck every time and also tried with fresh Magento 2 db

[2019-12-05 06:39] varun2287 opened #754 "Product details in admin panel not showing after migration in magento 2.3.3"
Hi @victor-v-rad ,
After migrating from magento 1.9.2.3. to magento 2.2.4 and then upgrading to 2.3.3 i am continuously facing this error.
On Admin panel when i try to edit any product it shows- "Product do not exist"

And the exception log file displays-"Product with ID "<prod_id>" already exists.
While accessing the product detail page from website it is showing 404 error.
I have also checked th

[2019-12-05 09:07] varun2287 commented on #753
I am getting this error on system.log file, there is some argument related issue.
Type Error occurred when creating object: Magento\Eav\Model\Entity\Attribute\Source\Config, Argument 1 passed to Magento\Eav\Model\Entity\Attribute\Source\Config::__construct() must be of the type array, null given, called in /home/xxx/public_html/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on

[2019-12-05 15:54] saracassells commented on #742
Did you ever find a fix to the above error? @LiamKarlMitchell

[2019-12-05 19:00] LiamKarlMitchell commented on #742
No I rotated onto another project at work and haven't had a chance to go back too it.
I also had to have some MySQL SET options no auto increment on zero, allow invalid dates etc.

When it happens the DB just seems broken, probably need to re-import and run again from the start, but Its a large database from many years of Magento 1... so I was hoping I could continue where it left off but it modif

[2019-12-06 02:37] jas8522 opened #755 "After migration, checkout payment failure SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name ''"
### Preconditions
1. SRC: Magento 1.9.4.1, PHP 5.6
2. DST: Magento 2.2.9, PHP 7.1
3. MySQL 5.6.46 on CentOS 6.10 with Plesk Onyx v17.8.11

For all I know it's possible that the store configuration in the SRC store (1.9.x) needs to have some odd values to correctly reproduce this... I have no idea how I'd ever test this to confirm.

### Steps to reproduce

1. Successfully complete migration of data

[2019-12-06 16:20] jas8522 commented on #755
To further clarify about my first recommendation above, the [fixsalessequence project's module code](https://github.com/joeshelton-wagento/fixsalessequence) covers automatically looping through all registered stores in Magento, and running the *first* set of SQL queries that were recommended by Jitendra Mandloi in the [stackexchange thread here](https://magento.stackexchange.com/questions/110701/m

[2019-12-08 12:00] Rajat9620 opened #756 "Magento community edition 2.1.* to 2.3.* - bin/magento setup:upgrade - Schema creation/updates: SQLSTATE[23000]: Integrity constraint violation"
Hello Support,,

I'm upgrading from "magento/product-community-edition": "2.1.9" to "magento/product-community-edition": "2.3.2-p2" using the command-line and getting below error.

php bin/magento setup:upgrade -vvv

Updating modules:
Schema creation/updates:
SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '12-' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_CO

[2019-12-10 07:39] Rajat9620 commented on #756
Hello @victor-v-rad
Can you please check the above issue and help me to solve this issue?

Thanks

[2019-12-10 11:42] BillTsarnas opened #757 "Cannot configure Map step in a separate module (custom map.xml)"
### Preconditions
1. Magento 2 EE 2.3.1

### Steps to reproduce
1. Create a new module to configure the migration (after installing the data migration tool), as specified in the docs: https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html#configure-migration-in-a-separate-module
https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html#migration-confi

[2019-12-11 03:29] Rajat9620 commented on #756
@victor-v-rad @victor-ruiz
Any update on this please?

[2019-12-11 15:38] victor-v-rad commented on #750
map.xml file from the tool can show such differences

[2019-12-11 15:41] victor-v-rad commented on #756
you can delete duplicate records from eav_attribute_group it they no longer needed

[2019-12-11 16:10] victor-v-rad commented on #745
it is not clear why it still stop from further migration. Seems like Magento 2 got more url rewrites so probably it is safe to remove `<volume>Migration\Step\UrlRewrite\Version191to2000</volume>` from you config.xml file

[2019-12-11 16:26] victor-v-rad commented on #753
If it is still possible you could try to migrate again to the 2.3.3

[2019-12-11 16:27] victor-v-rad commented on #754
If it is still possible you could try to migrate again to the 2.3.3

[2019-12-11 16:43] victor-v-rad commented on #757
Hi @BillTsarnas

Thank you for reporting this issue. You can try to enter full path of your map.xml file in <map_file>

[2019-12-11 16:53] victor-v-rad commented on #755
Hi @jas8522

Thank you for reporting this issue. Since 2.2.9 Magento and Data Migration Tool have been improved substantially. Please consider migration to 2.3.3. It might solve this issue

[2019-12-12 09:33] BillTsarnas commented on #757
Hey @victor-v-rad

I provided the full path of the custom map.xml in the <map_file> (of the custom config.xml), now I get:

[code]

Clearly the tool code always uses its own root (vendor module) `/Users/<user>/src/<project>/vendor/magento/data-migration-tool/` , and then appends whatever path exists in the <map_file> node of the config.

[2019-12-12 09:59] Rajat9620 commented on #756
@victor-v-rad
I can I check if they are needed or not?

[2019-12-12 14:12] rvoronovmeticulosity commented on #614
I have got the same error. @anupamyx what exactly was error about? Which file for migration was wrong in your case

[2019-12-13 06:57] victor-v-rad commented on #757
it was fixed in the latest release of Data Migration Tool 2.3.3 . You can backport it from https://github.com/magento/data-migration-tool/commit/e80bddf8c00d1ef946745acb89b5fe3538ca4eb9 or use Magento 2.3.3 and the tool 2.3.3

[2019-12-16 12:41] varun2287 commented on #754
Hi @victor-v-rad ,

I have resolved the error related to admin panel, actually the defect was in CatalogInventory_stock_status table, there was duplicate entries for product_id.
I deleted the duplicate entries and products now opening in the admin panel.

But on the website when i try to open a product, it is giving 500 error.
I have also checked system.log file there is some error.
![Screenshot (

[2019-12-18 12:03] mattyl commented on #646
for those following after and like  me have to work out the sql
INSERT INTO `catalog_product_entity_varchar` (`attribute_id`,`store_id`,`entity_id`,`value`)
SELECT `attribute_id`,`store_id`,`entity_id`,`value`
FROM `catalog_product_entity_text`
WHERE `attribute_id`='xxx';
where xxx is the attribute id
this worked for me

[2019-12-23 10:14] krausenspb opened #759 "Unable to save shipment address after migration from 1.9.3.4. Firstname is required"
### Summary

When I try to place an order after the customer registration/Login. Magento 2.3.3 shows "First Name is a required Field Error. Firstname field is not displayed. When I try create shipping address at profile page or at backend - firstname field is displayed but same validation error occured!

### Preconditions
Magento 2.3.3
Migration from 1.9.3.4

### Steps to reproduce
1. Login
2. Che

[2019-12-27 07:18] victor-v-rad commented on #759
Hi @krausenspb

Thank you for reporting this issue and sorry for the late reply. Internal issue MC-30095 was created to investigate this bug

[2019-12-30 04:07] eakenbor commented on #544
Please how did you solve it?

[2019-12-30 10:13] Rajat9620 opened #761 "Magento 2 admin translation not working after migration"
Hello,

I have migrated our magento from 1 to 2.1.6 and then after upgraded magento 2 version from 2.1.6 to 2.3.3 step by step(2.2.5 -> 2.2.9 -> 2.3.0 ->2.3.3). Now I am checking my admin and found one issue. Admin translations are not working. Please check the attached screenshot https://prnt.sc/qhgfyv
This is multi site website with nl_nL language enabled.
@victor-v-rad  @victor-ruiz  Can you pl

[2019-12-31 06:38] arun-magento opened #762 "data-migration mapping error in magento2.3"
[2020-01-01 11:59:37][INFO][mode: data][stage: integrity check][step: EAV Step]:
 started
←[2K100% [============================] Remaining Time: < 1 sec
←[0;33m[2020-01-01 11:59:37][WARNING]: Source fields are not mapped. Document: c
atalog_eav_attribute. Fields: layered_navigation_canonical←[0m

In ErrorHandler.php line 61:

  Notice: Undefined offset: 1 in C:\xampp\htdocs\new_magento\vendor\mag

[2020-01-01 10:13] Rajat9620 commented on #761
@victor-v-rad  @victor-ruiz
Any update on this please?

Thanks

[2020-01-02 18:18] victor-v-rad commented on #762
Hi @arun-magento

Thank you for reporting this issue. To map fields from EAV step use map-eav.xml file or --auto option.
Duplicate entry '1-Migration_Default'  error happens because it is second attempt of migration of data from the beginning. Restore your M2 DB to its initial state and rerun migration

[2020-01-02 18:48] victor-v-rad commented on #761
Hi @Rajat9620

Thank you for reporting this issue. I tried to reproduce the issue. Migrated Magento 1 database and switched language. After it all words were correct

[2020-01-02 18:54] Rajat9620 commented on #761
hello @victor-v-rad

thanks for the reply. can you please let me know what could be the issue?
Also any idea to solve such issue?

[2020-01-02 19:00] victor-v-rad commented on #761
You can try to backup then clean M2 DB > translation table. Then clear cache > relogin in Admin Panel

[2020-01-02 19:02] Rajat9620 commented on #761
can you please let me know the tables name?

[2020-01-02 19:02] victor-v-rad commented on #761
the table name is ```translation```

[2020-01-02 19:04] Rajat9620 commented on #761
thanks. I will try and get back to you with updates

[2020-01-03 06:24] VZeroCool opened #764 "Simple products price missing for bundle product options"
### Preconditions

1. Migrate data from Magento 1.9.3.9 to Magento CE 2.3.3
2. PHP 7.2,Apache2

### Steps to reproduce

1. Run data migration tool to migrate data with -- auto option

### Expected result

1. Price should be in the drop-down and it will reflect the base price of a product when select options.

### Actual result

1. All data including products, Blocks, and other configurations migra

[2020-01-03 10:23] arun-magento commented on #762
thank you

[2020-01-03 21:43] victor-v-rad commented on #764
Hi @VZeroCool

Thank you for reporting this issue. Internal ticket MC-30208 to process it

[2020-01-06 10:22] bharanikonda opened #765 "Multi currency symbols not reflecting in admin catalog"
### Preconditions
1. Configure multi-websites in Magento 2.3.3
2. Configure multi-currencies (Dollars for one website and Euro for another website)

### Steps to reproduce

1. Open admin catalog gird and edit any product which is assigned for two websites.
2. Change the store view to Euro website
3. Price field still displaying with the dollar ($) currency

### Expected result

1. The price field

[2020-01-06 10:25] #765 closed, assigned to nobody

[2020-01-06 13:47] Tantuss commented on #406
It is also possible to use n98-magerun to make a db dump which contains no customers, no sales etc.
For example:
n98-magerun db:dump --strip="@development"

Then use this DB for your migration.

[2020-01-06 15:03] ityetti commented on #661
@victor-v-rad I have a similar problem, and I'm looking for a solution to fix it without starting a full data migration again.

[2020-01-06 15:50] Rajat9620 commented on #761
hello @victor-v-rad
I have truncate the translate table then deploy as well as cleared cache as well. But still there is translation error.
My store has nl_NL language enabled.
What should I need to do now? https://prnt.sc/qk1shg

Thanks

[2020-01-06 18:03] Rajat9620 commented on #761
Also I have one new issue that product images on home page & listing page are showing from other store. Its working fine on detail page. Currently I have two multisite magento.

[2020-01-07 13:14] VZeroCool commented on #764
Hi @victor-v-rad Thanks for ticket can you give me a manual scenario to check this one? any workaround?
As I said above prices are in database, Also if I configure bundle product and add it to cart with options cart also shows prices for selected options.
This problem is only available at the frontend product view.

[2020-01-07 15:43] victor-v-rad commented on #764
Hi @VZeroCool

I have just migrated Magento 1 with bundle product and see the prices for options are visible. Look at the screen shot
<img width="699" alt="migrated_bundle_product" src="https://user-images.githubusercontent.com/106504/71907665-18a7d700-3132-11ea-8a26-abde791c0390.png">

[2020-01-07 16:42] Rajat9620 commented on #761
hello @victor-v-rad
any update on this please?

[2020-01-07 16:47] victor-v-rad commented on #761
I was no able to reproduce the issue. If your store uses Magento Commerce Edition you can create a ticket to our support team and send them your DB for investigation.

[2020-01-07 16:50] Rajat9620 commented on #761
@victor-v-rad
can you please let me know where I need to create this ticket?
Also any idea about the product image issue. Images are comming from another store instead of its own store.

Thanks

[2020-01-07 16:54] victor-v-rad commented on #761
https://magento.zendesk.com/

[2020-01-07 17:21] Rajat9620 commented on #761
@victor-v-rad
I have checked and I am not able to find "Submit a ticket" even after login.
Any help?

Thanks

[2020-01-08 11:21] VZeroCool commented on #764
Yes, @victor-v-rad I did same thing today morning without checking notifications and it worked for me too. Not sure what's it causing its working at M1 level, I've prices at M2 DB and after quote creation, it is also working. Now it's getting irritating. I'll investigate this tomorrow if you have any quick ideas do share :)

[2020-01-08 14:17] sheba17 commented on #467
Hi I am of the user who is having the same issue. My magento 2 version is 2.3.3 and Magento 1 version is 1.9.3.1.
I am getting the same issue. Refer link:
![image](https://user-images.githubusercontent.com/38135560/71984547-14251080-324f-11ea-8d4b-56a0f86fa43c.png)

Please help me out on this.

[2020-01-08 16:23] victor-v-rad commented on #467
Hi @sheba17 You can disregard these massages if you do reindex. It will fill grid tables with needed data

[2020-01-08 18:32] sheba17 commented on #467
But I can see my all sales tables empty so how I can reindex data. Can you please help me why sales data are not migrated?

[2020-01-09 08:03] codedge opened #766 "Cannot place order after migration from 1.9.4.1 to 2.3.3"
When placing an order after running a migration from Magento 1.9.4.1 to Magento 2.3.3 I get the error message `Uncaught Error: Call to a member function getAdditionalInformation()` in `/usr\/share\/nginx\/html\/vendor\/magento\/module-sales\/Model\/OrderRepository.php:185`.
The migration process ran without any problems. All orders and customers where migrated successfully.

The problem exists wit

[2020-01-09 17:29] victor-v-rad commented on #766
Hi  @codedge

Thank you for reporting this issue. I've tried to produce the issue on vanilla Magento 1 and Magento 2 with your config and map files and placed order without any errors.

[2020-01-09 17:56] codedge commented on #766
So, is this then a problem with the data I am importing? I do not have a single point to start debugging. Any suggestion is very welcome.

[2020-01-09 18:00] victor-v-rad commented on #766
you can Xdebug setPaymentAdditionalInfo() to figure out why getPayment() method return null

[2020-01-11 09:24] varun2287 opened #767 "Error public_html/var/view_preprocessed/pub/static/\" cannot be used with directory \ public_html/var/view_preprocessed/pub/static/ coming in exception.log while accessing products/adding products in admin panel"
Hi @victor-v-rad

I have migrated from from magento 1.9.2.3 to magento 2.3.3.
previously my products in admin panel and frontend was not opening, there was some duplicate entries for product id, so i removed the duplicate entries in the database tables.
Since then the products on frontend started opening but on the admin panel it is giving 500 error, on further checking the logs i found this in ex

[2020-01-13 16:07] treestonemedia opened #768 "Allow usage of local eav-attribute-groups.xml file"
### Preconditions

1.  Setup a custom module for the migration as recommended by Magento [here](https://devdocs.magento.com/guides/v2.3/migration/migration-tool-configure.html#migration-configure)

### Steps to reproduce

1.  Setup a custom module for the migration
2.  In your config.xml file, point `eav_attribute_groups_file` to a file in `<your Magento 2 install dir>/app/code/Vendor/Migration/et

[2020-01-13 16:14] fballiano commented on #34
Hi @victor-v-rad, is there a possibility to have an option to "overwrite" previous attribute sets/groups instead of having to manually change all of them to remove the "migration" prefix?

[2020-01-13 16:48] victor-v-rad commented on #34
Hi @fballiano. There is https://github.com/magento/data-migration-tool/issues/627 to implement such behavior. The tool is open source and everyone is welcome to do contribution to improve it

[2020-01-13 16:50] victor-v-rad commented on #767
Hi @varun2287

Thank you for reporting this issue. The issue is not reproducible on vanilla Magento

[2020-01-13 17:25] victor-v-rad commented on #768
Hi @treestonemedia

Thank you for good described issue and the PR. MC-30388 was created to process it.

[2020-01-14 15:51] alfabet-alfabet opened #770 "Undefined offset: 1"
I need to migrate from our magento 1.7.0.2 to magento 2.2.0

I'm using data-migration-tool on a different server for test purposes, but i'm getting this error.

`Notice: Undefined offset: 1 in /home/mysite/public_html/vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php on line 291`

I've searched online a solution, it appears to me that this is caused by "Orphan records" in my M1 da

[2020-01-14 23:08] jas8522 commented on #685
This also occurs when you were using the savedcc payment method with 1.9 which isn't available with 2.x... if the store admin needs to manually process those credit cards but can't view them in Magento 2, how is that suposed to work? Shouldn't Magento2 have a dummy payment gateway that's mapped to the savedcc gateway which allows admins to view the credit card details when viewing the order?

[2020-01-15 01:11] not-art opened #771 "Delta Migration on 2.3.3 not keeping sequence product / sequence catalog category updated"
### Preconditions

1. Migrating from M1 Commerce 1.14.4.3 to M2 Commerce 2.3.3 (with supplemental 2.3.3 patches)
2. Running deltas on an M1 store that's continuing to take orders while the M2 store is still not go-live

### Steps to reproduce

1. Migrate initial data
2. Make some category / product changes in M1, including adding a new category
3. Run delta migrations
4. Look at the entries in seq

[2020-01-15 17:53] victor-v-rad commented on #770
Hi @alfabet-alfabet

You can try to use the latest Data Migration Tool 2.3.3 and Magento 2.3.3. It will increase chances for the successful migration. And do not forget to restore your Magento 2 DB to its initial state in case you want to migrate from the scratch with --reset option

[2020-01-15 18:44] victor-v-rad commented on #771
Hi @not-art

Thank you for reporting this issue. Since you use M2 commerce it would be great if you post this issue on https://magento.zendesk.com/ as well. This should be a faster way to process this issue.

[2020-01-16 17:44] Rajat9620 opened #772 "Product Images are showing from another store in first store"
After upgrading to 2.3.3, product listing on home as well as listing page show product images from second store in first store. In detail page, it is working fine.
Please help me to solve this issue.
@victor-v-rad

Thanks

[2020-01-16 18:33] victor-v-rad commented on #772
If you upgraded from Magento 2.x.x to 2.3.3 and have this issue it might mean that was caused by Magento 2 update scripts but not Data Migration Tool

[2020-01-16 18:43] Rajat9620 commented on #772
@victor-v-rad
can you please help me to fix this issue?

[2020-01-17 10:26] deepjoshi94 opened #773 "log_visitor table not getting ignored"
### Preconditions

Added below code in `map.xml`
`
<document_rules>
            <ignore>
                    <document>customer_visitor</document>
            </ignore>
</document_rules>`

### Steps to reproduce

Executed data migration using  **php bin/magento migrate:data /path/to/config.xml**

### Expected result

1. customer_visitor table should be ignored.

### Actual result

1. customer_visi

[2020-01-17 16:10] victor-v-rad commented on #773
Hi @deepjoshi94

Thank you for reporting this issue. You need to remove "Log Step" from your config.xml file to not migrate log_visitor tables

[2020-01-20 07:53] deepjoshi94 commented on #773
@victor-v-rad I can comment Log Step and it works if I comment it.
But even if I ignore this particular table it should work without commenting Log Step.

Is this bug in migration tool or am I missing something?

[2020-01-20 11:01] iphigenie opened #774 "Delta rewrite URL CE step not using database prefix correctly (with fix)"
### Preconditions

1. Data Migration Completed to or from a site that uses a database prefix
2. Source prefix is different than destination prefix (or only one has a prefix)

### Steps to reproduce

1. Run Delta step after there have been some changes

### Expected result

1. Should run to completion as it did after migration

### Actual result

1. Stops at Rewrites step with error

 SQLSTATE[42S0

[2020-01-20 11:24] iphigenie commented on #774
I put my fixes in a forked repository as I didn't know the process here for pull requests @victor-v-rad

https://github.com/iphigenie/data-migration-tool/pull/1/files

[2020-01-21 07:01] deepjoshi94 commented on #773
We need to ignore particular document in map-log.xml file.

[2020-01-21 07:01] #773 closed, assigned to nobody

[2020-01-21 23:07] victor-v-rad commented on #774
Hi  @iphigenie

Thank you for reporting and solving this issue. You can create PR to the repository just like this one https://github.com/magento/data-migration-tool/pull/769 as an example

[2020-01-22 09:50] iphigenie commented on #774
Hi @victor-v-rad

done - obviously I have a sample of one scenario tested only

[2020-01-23 17:50] codedge commented on #766
Well, `getPayment()` is null because payment cannot be received - [`getPayment`](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/Model/Order.php#L975) returns null.

It neither can get items from the [`PaymentsCollection`](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/Model/Order.php#L979) nor is payment set on the order object - `$this->ge

[2020-01-23 22:50] #766 closed, assigned to nobody

[2020-01-24 13:14] stradd opened #776 "Source fields are not mapped. Document: checkout_agreement."
I m trying to migrate data from Magento 1.9.3.2 to 2.3.3 both Opensource version.
I fixed all source fields are not mapped bugs in map.xml.dist near line 1117

One of many errors was:
Source fields are not mapped. Document: checkout_agreement. Fields: is_required, agreement_type, revocation_product_type

I tried to fix it like all other source fields are not mapped errors

`<ignore><field>checkout

[2020-01-28 13:13] pocallaghan opened #779 "Add Handler Validation Before Data Migration"
### Preconditions

1. Use of a customised map.xml.

### Steps to reproduce

1. Modify map.xml to reference a handler class that doesn't exist (e.g. `<handler class="\Migration\Handler\Typo"/>`).
2. Run the data migration `bin/magento migrate:data -r config.xml`

### Expected result

1. Error before any data is copied, so you don't end up in a broken state.

### Actual result

1. Error at the point

[2020-01-28 16:30] mykhailo-superiorseating opened #780 "Email templates contain old m1 {{blocks}} to header and footer"
### Preconditions
1. Migrate data from M1 to M2 using data-migration-tool.

### Steps to reproduce
1. Open any order in admin panel.
2. Send email by "Send Email".

### Expected result

### Actual result
[code]

### Additional notes
The problem is that in m2 we use different blocks than in m1.

M1:
[code]
M2:
[code]

This issue on [magento.stackexchange.com](https://magento.stackexchange.com/quest

[2020-01-28 23:25] not-art commented on #771
Can do, Victor. I had assumed you were the only developer maintaining the migration tool, hence why I posted it here. I'll duplicate my bug submission in the enterprise support queue.

[2020-01-29 00:28] not-art commented on #771
I've submitted the Magento Commerce support ticket, Victor. If you no longer need this thread open as a duplicate, you're free to close it. I've tracked the same details I reported here on the EE ticket.

[2020-01-29 02:28] adarshkhatri commented on #389
I am getting this on delta migration:

Any suggestion?

I had added `<document key="row_id,attribute_id,store_id">catalog_product_entity_varchar</document>` in my `map-document-groups.xml` but this didn't help.

[2020-01-29 16:15] victor-v-rad commented on #771
Thank you @not-art

internal ticket MC-30877 to process this issue

[2020-01-30 09:31] iphigenie opened #782 "Confused around Delta Migration Category data (rewrites?)"
I created a category on my old site, and noticed that the delta migration did not create a category on the new site.

That's actually fine by me, I don't use categories a lot, so I can create the category on the new site too, in preparation. Obviously it gets the same ID.

Next delta I get an error from CATALOG_CATEGORY_ENTITY_INT_ENTITY_ID_ATTRIBUTE_ID_STORE_ID as migration tries to enter the dat

[2020-01-30 21:29] jas8522 opened #783 "Unable to create or edit categories after migration from 1.9.x to 2.2.9"
When I attempt to add a category it looks like it's successful, but then refreshes the page to show me a category was added with no data saved to the DB. A category *was* created, just with no attributes of any kind.

I've disabled caching entirely in a dev copy of the site and I've re-indexed repeatedly.

There's screenshots and more description about this exact issue here: https://magento.stacke

[2020-01-31 18:11] jas8522 commented on #783
I've now updated this instance to 2.3.4 and the issue persists. I've also set up a fresh install of Magento 2.3.3 where the only category attribute that does not exist there, but does in the broken category management version of Magento is this: custom_layout_update_file

Core Magento code appears to reference that custom_layout_update_file attribute in my live and dev store, yet in my fresh insta

[2020-01-31 22:00] jas8522 commented on #783
I found the solution for this here: https://magento.stackexchange.com/questions/287463/magento-2-3-2-saving-categories-after-data-migration-causes-empty-records

Specifically:

The migration process should set the default attribute set for categories correctly once it finishes migrating the data.

It *also* did not set the default attribute to the "Migration_Default" so our store managers were una

[2020-02-03 11:45] hussja commented on #380
We have a quote ext on M1. possibly that.

[2020-02-03 15:51] #746 closed, assigned to nobody

[2020-02-03 15:52] #731 closed, assigned to nobody

[2020-02-03 15:52] #727 closed, assigned to nobody

[2020-02-03 15:53] #745 closed, assigned to nobody

[2020-02-03 15:53] #739 closed, assigned to nobody

[2020-02-03 15:54] #737 closed, assigned to nobody

[2020-02-03 15:54] #736 closed, assigned to nobody

[2020-02-03 15:54] #735 closed, assigned to nobody

[2020-02-03 15:54] #734 closed, assigned to nobody

[2020-02-03 15:54] #733 closed, assigned to nobody

[2020-02-03 15:55] #732 closed, assigned to nobody

[2020-02-03 15:55] #730 closed, assigned to nobody

[2020-02-03 15:55] #726 closed, assigned to nobody

[2020-02-03 15:55] #724 closed, assigned to nobody

[2020-02-03 15:56] #720 closed, assigned to nobody

[2020-02-03 15:57] #770 closed, assigned to nobody

[2020-02-03 15:58] #747 closed, assigned to nobody

[2020-02-03 15:58] #749 closed, assigned to nobody

[2020-02-03 15:58] #750 closed, assigned to nobody

[2020-02-03 15:58] #751 closed, assigned to nobody

[2020-02-03 15:59] victor-v-rad commented on #752
you can try to cun cron jobs in M2 to fill order grid table

[2020-02-03 15:59] #752 closed, assigned to nobody

[2020-02-03 15:59] #753 closed, assigned to nobody

[2020-02-03 16:00] #754 closed, assigned to nobody

[2020-02-03 16:00] #755 closed, assigned to nobody

[2020-02-03 16:03] #757 closed, assigned to nobody

[2020-02-03 16:04] #761 closed, assigned to nobody

[2020-02-03 16:04] #762 closed, assigned to nobody

[2020-02-03 16:11] victor-v-rad commented on #782
Hi @iphigenie

Thank you for reporting this issue. You also can add new tables in map-document-groups.xml.dist for update on duplicate behavior

[2020-02-04 08:18] subesingh1981 opened #787 "Is this tool help to migrate DB2 database into MySQL?"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

### Additional notes

[2020-02-04 18:34] Rajat9620 opened #789 "Magento 2 web setup wizard gives 404 error after migration"
Hello,
After successfull migration from 2.2.9 to 2.3.3, magento web setup wizard gives 404 error.
Can you please help me to solve such issue?

@victor-v-rad  @victor-ruiz

Thanks

[2020-02-05 14:15] PurushothamanKrishnamoorthy opened #791 "Magento 2.3.4 data migration table or view not found"
Magento 2 data migration table or view not found without table name

### Preconditions

1. Magento version is 2.3.4 and source magento c1.7.0.2 - community edition
2. Source and destination db should have prefix

### Steps to reproduce

1. Install and setup Magento 2.3.4
2. Install and configure Magento migration tool for version 2.3.4
3. Run migration command for settings and data.

### Expected

[2020-02-05 17:52] victor-v-rad commented on #776
Hi

Thank you for reporting this issue. There is code in map.xml file
[code]
you can change it this way
[code]

[2020-02-05 18:01] victor-v-rad commented on #779
Hi @pocallaghan

Thank you for reporting this issue.  The Data Migration Tool is an open source project and whole Magento community will welcome your contribution.

[2020-02-05 18:24] victor-v-rad commented on #780
Hi @mykhailo-superiorseating

Thank you for reporting this issue. Internal ticket MC-31153 to process it

[2020-02-05 18:33] victor-v-rad commented on #783
Hi @jas8522

Thank you for reporting this issue. 2.2.x is an old branch. Most likely this issue was fixed in one of the latest versions 2.3.x of the tool.

[2020-02-05 18:37] victor-v-rad commented on #787
The tool was tested to migrate from MySQL to MySQL. Here https://firebearstudio.com/blog/magento-2-db2-data-import.html can help

[2020-02-05 18:41] victor-v-rad commented on #789
Hi @Rajat9620

Thank you for reporting this issue. I was not able to reproduce it on the latest migrated 2.3.4

[2020-02-05 19:45] victor-v-rad commented on #791
Hi @PurushothamanKrishnamoorthy

Thank you for reporting this issue. Internal ticket MC-31156 to process it

[2020-02-05 20:20] victor-v-rad commented on #791
@PurushothamanKrishnamoorthy  Fixed. Please check if it works for you

[2020-02-05 23:43] victor-v-rad commented on #771
Thank you @not-art again for reporting this issue good described issue. It should be fixed in
cd1455f commit

[2020-02-06 03:59] molotovbliss commented on #724
@victor-v-rad this could be more descriptive with a adding a comment that it's not a boolean but an integer; as it appears with the default config xml being only a `0` is confusing.

I misinterpreted this as a on/off and not a integer. Limiting the performance benefits of this option. :grimacing:

[2020-02-06 07:45] PurushothamanKrishnamoorthy commented on #791
@victor-v-rad  Data migration completed successfully. Thanks for the support.

[2020-02-06 07:45] #791 closed, assigned to nobody

[2020-02-06 20:12] asifsomy opened #793 "Related Products didn't import - 1.9.4.1 to 2.3.3"
### Preconditions

PHP 7.2
MYSQL 5.7
Magento 1.9.4.1CE to  Magento 2.3.3CE

### Steps to reproduce

Migrate data using data-migration-tool for above mentioned versions

### Expected result

1. There should be related products linked to imported products

### Actual result

1. There is no related product. catalog_product_link table has no new data.

[2020-02-06 20:48] victor-v-rad commented on #793
Hi @asifsomy

Thank you for reporting this issue. The issue is not reproducible. catalog_product_link table contains migrated data from Magento 1

[2020-02-07 11:21] abkrim opened #794 "URL Rewrite error/rollback during migration 2.3.4"
Similar issue in https://github.com/magento/data-migration-tool/issues/745 but different version and older issue.

### Preconditions

1. Magento CE 1.9.3.1
2. Magento 2.3.4
3. PHP 7.4
4. Server version: 5.7.29-0ubuntu0.18.04.1 (Ubuntu)

### Steps to reproduce

1. Clean database in both MG. Any in production because are in develop mode and trying tool
2. MG is in develop mode. Not crons.
3. Use [of

[2020-02-07 20:12] hzubyrss commented on #649
you running the command without file name you have to give the file name as well which is configu.xml
Should look like this
 php /var/www/siteurl/bin/magento migrate:settings -r /var/www/siteurl/vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.7/config.xml

[2020-02-07 20:54] stradd commented on #776
Hi,
thank you very much, it worked perfectly

[2020-02-07 21:00] #776 closed, assigned to nobody

[2020-02-10 06:42] Rutvee123 commented on #281
Have any update on this? Facing same issue

[2020-02-10 17:44] daweedco commented on #427
Hello same issue here , and the table m2_cl_sales_order_grid is populated , but the data wont transfer

[2020-02-12 14:09] ce8 opened #795 "Migrate 1.9.2.4 to 2.3 problems"
Hi,

I am trying to migrate my magento store from 1.9.2.4 to 2.3.

I have both databases on the same mysql instance (localhost) and I'm using Linux Centos 7.

After installing both databases and installing Magento 2.3, I installed the magento migrate data tool (magento 2.3).

When I run the command below, nothing is migrated to the magento 2 database.

bin/magento migrate:data -a vendor/magento/da

[2020-02-12 15:58] victor-v-rad commented on #795
Hi @ce8
You can see the last message 'Migration completed' It means everything migrated but there were some issues on the way. You can read this [Migration Troubleshooting](https://devdocs.magento.com/guides/v2.3/migration/migration-troubleshooting.html) for more information about the errors you got

[2020-02-12 16:54] ce8 commented on #795
Hi Tks,

I have read the Migration Troubleshooting  before open the question.

But my problem is the same!

Can you help me?

[2020-02-12 17:00] victor-v-rad commented on #795
Run bin/magento cron:run command twice and sales grids should be filled with data

[2020-02-12 17:01] ce8 commented on #795
bin/magento cron:run

In WebsiteRepository.php line 110:

  The website with id 1 that was requested wasn't found. Verify the website and try again.

[2020-02-13 22:42] Morgy93 opened #796 "update 2.3.3 tag"
Hello,

would it be possible to upgrade the 2.3.3 tag to the latest changes from 2.3 branch? (Or something like that)
Currently it's not possible to provide a config with a separate module, because it looks at the wrong place for some xml.
This is fixed in later releases, but not for the 2.3.3 one.

To be more specific:

https://github.com/magento/data-migration-tool/blob/2.3.3/src/Migration/Reade

[2020-02-14 19:06] victor-v-rad commented on #796
Hi @Morgy93

Thank you for reporting this issue. You can fork the repository and backport these fixes

[2020-02-15 10:59] Rajat9620 commented on #789
@victor-v-rad  any help to solve this issue?

[2020-02-15 20:03] victor-v-rad commented on #789
The issue is not reproducible on vanilla Magento. You can find log files which can help in finding root cause.

[2020-02-16 06:58] IbrahimS2 commented on #541
@hostep Just had the exact same problem!

[2020-02-17 15:12] hostep commented on #541
@MageSuper: damn is this still not fixed? This is causing countless of url rewrite issues in Magento 2.

@victor-v-rad: any idea why this hasn't been looked at yet? It's probably 15 minutes of work for you to make sure the `url_path` for product entities gets imported as an empty value in Magento 2, and to not take over the value from Magento 1, it's this simple.

I haven't used this tool in a cou

[2020-02-19 13:57] ce8 commented on #795
?????

[2020-02-19 14:39] dragonfly4 opened #797 "Customer VAT ID not saved in frontend or backend"
Below is a copy from
https://github.com/magento/magento2/issues/7668#issuecomment-588259398

Migration from v1.6 to v2.3.3 with the [Data Migration Tool](https://github.com/magento/data-migration-tool/releases/tag/2.3.3) resulted in not saving the VAT number. Neither in frontend and backend.

`SELECT * FROM eav_attribute where attribute_code = 'vat_id'`

Resulted in ID 563 while a fresh install re

[2020-02-19 14:39] dragonfly4 commented on #797
More FYI as I spent 1 day finding what caused this.

Just here to save other people from going thru the same struggle so closing the issue.

[2020-02-19 14:39] #797 closed, assigned to nobody

[2020-02-20 19:55] hufex commented on #592
I have the same issue.

php: 7.3
database: mariadb 10.2.31
OS: linux
source: 1.9.3.0
destination: 2.3.4

debug:

-bash-4.2$ bin/magento migrate:settings -r -a -vvv vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.0/config.xml.dist
Reset the current position of migration to start from the beginning

[2020-02-20 19:34:57][INFO][mode: settings][stage: integrity check][step: Setti

[2020-02-25 14:13] MustafaBaltee commented on #576
magento 2.3.3 contain only map.xml.dist and config.xml.dist
now i want to map the class here is the error
[2020-02-25 12:31:18][ERROR]: Incompatibility in data. Source document: eav_attribute. Field: source_model. Error: Class eav/entity_attribute_source_custom is not mapped in record attribute_id=563

here is my class-map.xml code

eav/entity_attribute_source_custom
Afg\Customerattribute\Model\Cu

[2020-02-26 02:11] carlos-reynosa opened #798 "Deltalog Error: Base table or view not found"
### Preconditions

1. Running migrate data process from M1 CE 1.9.2.4
2. Importing into commerce 2.3.3
3. Using custom module for config customizations
4. Source is a remote database
5. Running process within a production mode docker environment using the https://github.com/magento/magento-cloud-docker project
6. Using magento/data-migration-tool version  2.3.4

### Steps to reproduce

1. ./bin/ma

[2020-02-26 11:53] KeithBradley commented on #796
Hi @victor-v-rad

This issue also exists within ClassMap.php

https://github.com/magento/data-migration-tool/blob/be109a7cff992b697160ed1074b4881fc6197aa6/src/Migration/Reader/ClassMap.php#L71

[2020-02-26 14:01] MustafaBaltee commented on #243
hi i have similar issue ..
I am still stuck my error is
`[2020-02-26 13:31:21][ERROR]: Incompatibility in data. Source document: eav_attribute. Field: source_model. Error: Class eav/entity_attribute_source_custom is not mapped in record attribute_id=563
`
and i tried to rename the class using class-map.xml but then it generate another error
invalid map file.

I want this attribute and its data in

[2020-02-27 19:08] victor-v-rad commented on #798
Hi @carlos-reynosa

Thank you for reporting this issue. Please try the fix from #791

[2020-02-28 01:38] PivitParkour94 commented on #742
Definitely getting the same issue on my Magento 2.3.3 instance - Migrating from 1.9.3.7.
It's inconsistent, sometimes the undefined offset error is thrown then rerunning the steps, the Duplicate entry error is thrown.
I'm looking into why this is happening

[2020-02-28 01:40] tschirmer commented on #742
Same! We've had a couple of migration's we've done that we needed to repeatly reset the database back to a fresh installation of Magento 2 before re-running. Sometimes this would work, and other times it'd fail.

Really not great if you're not able to do a delta migration.

[2020-02-28 02:18] PivitParkour94 commented on #742
Turns out the results are extremely consistent.

1. Fresh Installed Magento 2.3.2 (I thought I was on 2.3.3) with 2.3.3 migration tool release
2. Run EAV Step at least `bin/magento migrate:data config.xml`
3. Undefined Offset error thrown
4. Run EAV Step at least again (no other changes) `bin/magento migrate:data config.xml`
5. Duplicate Entry error thrown
Repeat Steps 2-5 X times
Going to upgrade

[2020-02-28 02:34] PivitParkour94 commented on #742
Can confirm this is still an issue on Magento 2.3.3 running the data-migration tool 2.3.4.
@victor-v-rad Do you have any recommendations for getting around this bug?

[2020-02-28 15:30] victor-v-rad commented on #742
@LiamKarlMitchell this issue is not reproducible on my vanilla Magento. Make sure your Magento 2 is empty of any data every time you run bin/magento migrate:data. If you have Magento Commerce you can report this issue here https://magento.com/contact-us

[2020-02-28 16:33] dmiguelmtz opened #799 "Delta changes not migrated in M2"
Hi,

M1 version is 1.9.3.0
M2 version is 2.3.4

[2020-02-28 15:32:00][INFO][mode: delta][stage: delta delivering][step: Customer Attributes Step]: started
[2020-02-28 15:32:00][INFO][mode: delta][stage: volume check][step: Customer Attributes Step]: started
100% [============================] Remaining Time: < 1 sec
[2020-02-28 15:32:00][WARNING]: Mismatch of entities in the document: customer_ent

[2020-02-28 20:03] victor-v-rad commented on #462
The issue was fixed in #541

[2020-02-28 20:07] victor-v-rad commented on #541
@hostep sorry it's taken so long to fix it. Please test it on the latest 2.3-develop branch or
b5ad54f

[2020-02-28 20:08] #462 closed

[2020-02-29 01:05] #798 closed, assigned to nobody

[2020-02-29 17:03] hostep commented on #541
Thanks @victor-v-rad !

Looks good at first sight.
Unfortunately we no longer use this tool for migrating M1 to M2 databases, we have our own scripts for that. So I will not be able to test it I'm afraid.

Thanks again!

[2020-03-03 12:40] #782 closed, assigned to nobody

[2020-03-05 02:15] mnsimmons commented on #213
@dfelton, I am starting work on a Migration extension and facing similar issues.  I am new to Magento development.  I am wondering if the SQL statements to delete orphaned records can be included as part of the extension, so that the statements are executed during the migration.  Or, would they need to be run independently, prior to the migration?

[2020-03-09 09:26] abdullah-riaz commented on #799
Hi, I am also facing this issue. I have migrated from M 1.7.0.2 to M 2.3.2. I have been running delta for 3-4 days, all increment orders and customers created in M1 are migrating in M2 successfully. Now, I have run delta after 2 days, some of orders are missing in M2 and it gives following warning:

[2020-03-09 07:32:26][INFO][mode: delta][stage: volume check][step: OrderGrids Step]: started
[2020

[2020-03-11 11:28] krearthur commented on #152
I'm getting the same error, also with v. 2.3.3 :/

[2020-03-13 16:43] karlsminton commented on #791
I've actioned the fix in the link above and I'm still getting the following error;

[2020-03-13 16:34:57][INFO][mode: data][stage: data migration][step: PostProcessing Step]: started
82% [======================>-----] Remaining Time: 1 sec
In Mysql.php line 110:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'premigrate.enterprise_giftcard_amount' doesn't exist
  , query was: SELECT

[2020-03-18 09:32] RonakParmar commented on #467
I am also getting same error while migrating sales data from Magento 1.9.1.0 to Magento 2.3.2.
sales_order and sales_order_grid in M2, these two tables are blank.

Can any one help on this issue?

Thank you.

[2020-03-20 05:41] carlos-reynosa opened #800 "Custom Config File Path"
The only way to define a custom config files is by providing a full path or magento/data-migration-tool module install relative path:

https://github.com/magento/data-migration-tool/blob/3c7f83b8eaab690734113f574a26595e61415b62/src/Migration/Reader/Map.php#L83-L84

https://github.com/magento/data-migration-tool/blob/3c7f83b8eaab690734113f574a26595e61415b62/src/Migration/Reader/Settings.php#L96-L98

[2020-03-20 08:20] arnair-incomm commented on #795
@ce8 Please restart your migration process. This may involve setup:uninstall, setup:install and then run the migration tool again.

[2020-03-20 08:23] aruntechguy commented on #791
I got the same issue as @karlsminton. Do we have a ticket open?

[2020-03-20 08:25] aruntechguy commented on #795
@ce8 Also, please don't forget to update your map.xml file with above fields.

[2020-03-20 14:01] zakaria-jnh opened #801 "Magento 2.3.2 Category Save error"
### Preconditions

1. Migrated DB from 1.9.3.6 to Magento 2.3.2
2. Try to remove assigned category from product

### Expected result

1. The category has been saved

### Actual result

Could not save product "37088" with position 1 to category 3
1. [Screenshot, logs]

SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`6qbuhmv_de

[2020-03-20 14:39] victor-v-rad commented on #800
Thank you @carlos-reynosa for reporting this issue. Devdocs team should fix it

[2020-03-20 15:52] victor-v-rad commented on #801
Hi @ZAKARIA-14

Thank you for reporting this issue. I tried to reproduce the issue but it works fine. The error you have might not be caused by the migration tool. Try to find records which exist in catalog_url_rewrite_product_category table and have references to records in catalog_category_entity table. Then recreate these references in catalog_category_entity or remove records from catalog_url_

[2020-03-20 16:00] zakaria-jnh commented on #801
@victor-v-rad Thanks for your reply, I will try as you suggested

[2020-03-20 16:00] carlos-reynosa commented on #800
@victor-v-rad  It seems that there is an expectation that we should be able to provide a path for a configuration file that is relative to the Magento installation directory. That would allow us to more easily define a new configuration file in a customization module. Only allowing full paths seems very global and environment-specific.

[2020-03-20 18:34] victor-v-rad commented on #800
Using ../../../ path can be a good workaround and you can always do your contribution to the data migration tool for all Magento community

[2020-03-23 15:58] eriknicholas commented on #791
(This does not help the previous two comments from aruntechguy nor karlsminton)
For the less technical guys (like me):
The commit/fix that the [godlike] Victor-V-Rad made on February 5 worked for me.
The fix was not applied to the _current_ version of the Data Migration Tool that you currently download (it will be applied to the next update), you still have to manually perform the fix yourself to

[2020-03-25 14:33] #801 closed, assigned to nobody

[2020-03-29 07:44] JamesTheHacker opened #804 "Migrating data from 1.9.3.7 to 2.3.3 duplicates every product"
I'm migrating the data from 1.9.3.7 to 2.3.3. The migration is successful. But, when I run: `bin/magento index:reindex` I get the following error:

[code]

If I check the database with the following query: `SELECT * FROM cataloginventory_stock_item WHERE item_id = 2; ` ... there is indeed 2 products with the same ID. Infact, there are duplicate products for every product in the database.

If I run

[2020-03-29 16:45] narangkishore98 commented on #372
I am still unable to figure this out.

[2020-03-30 13:36] victor-v-rad commented on #804
Hi @JamesTheHacker

Thank you for reporting this issue. cataloginventory_stock_item might have two products when cataloginventory_stock has more then one record. Usually it has only stock_id = 1 with stock_name = Default. But some extensions might add more if your webstore works with several stocks. If your store does not need more then one stork you can alter \Migration\Step\Inventory\Model\Sourc

[2020-03-30 16:41] JamesTheHacker commented on #804
I think I understand. I don't need anything from the M1 database except for the products and categories. Is it possible to leave out any data from 3rd party plugins during the transfer? I'm not sure the best way to solve this.

[2020-04-01 18:32] rickbakker commented on #686
@istoutjesdijk Thanks for the info! I'm having the same issues right now. Migration went pretty good, but at 94% in with the data migration i got that exact error. I see that you found out that it's because of the TIG PostNL plugin. How did you manage to fix this error?

I'm on M1 1.9.4.1 and M2 2.3.4 BTW.

[2020-04-01 20:25] orozcodiaz commented on #742
Having exactly the same issue with migrating from 1.9.0.1 to 2.3.4

[2020-04-01 20:55] istoutjesdijk commented on #686
I don't remember exactly because it's a year ago and I have had allot of other problems with Magento in the meantime. I think I just disabled or deleted the PostNL plugin and installed it again after migration.

Please let me know if this works, I might have some other suggestions if it doesn't.

[2020-04-02 00:46] LiamKarlMitchell commented on #742
If possible, delete all data and start new website. Migration does not work.
Would be better if the tool imported only things you need like customers and order history.

[2020-04-03 13:31] vishal-7037 opened #805 "Data migration tool: class-map.xml file overridden issue in csutom module"
### Preconditions

1. Magento 2.3.4
2. PHP 7.2

### Steps to reproduce

1. Create a new separate module to configure data migration tool
2. Override class-map.xml.dist file to new module under app/code/vendor/Migration directory.
3. Then, run data migration command.

### Expected result

It should override properly and command should run successfully

### Actual result

![2020-04-03_18:59:23](http

[2020-04-03 14:49] victor-v-rad commented on #805
Hi @vishal-7037

Thank you for reporting and fixing this issue. Internal ticket MC-33062 to fix it

[2020-04-06 11:33] rickbakker commented on #686
Thanks for your reply @istoutjesdijk. I have fixed the issue and did a successful migration. There is a way to ignore the tig_post_nl tables while migrating. You have to make some changes to the config and map files. I did some more searching on Google until i found this piece of text:

https://docs.tig.nl/display/TIGSD/Migreren+van+Magento+1+naar+2+i.c.m.+de+PostNL+extensie

Check it out. Maybe i

[2020-04-07 09:23] diazwatson commented on #520
I have done this couple of times but I have to admit that it is always not an easy task
I wonder what can be done to at least make things easier?

[2020-04-13 08:26] chirag-d-wagento commented on #791
I'm getting same error. How you resolved it?

[2020-04-14 04:18] cartoonjazz opened #807 "[ERROR]: Integrity check failed due to "core_config_data" document does not exist in the destination resource"
Using the data migration tool from 1.9.3.1 to 2.3.4 with the following command

php bin/magento migrate:settings --auto vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.1/config.xml

I receive error

[2020-04-13 22:14:00][ERROR]: Integrity check failed due to "core_config_data" document does not exist in the destination resource

In Mysql.php line 110:

  SQLSTATE[42S02]: Base

[2020-04-14 18:25] victor-v-rad commented on #807
Hi @cartoonjazz
Thank you for reporting this issue. Please check Magento 1 and Magento 2 tables prefixes and if they exit add them into your config.xml file of the tool into

[code]

[2020-04-15 00:15] cartoonjazz commented on #807
thank you, As mentioned in my comment - The 2.3.4 data has a prefix of db_ indicated in the config.xml
<options>
<map_file>etc/opensource-to-opensource/1.9.3.1/map.xml</map_file><dest_prefix>db_</dest_prefix>

[2020-04-15 14:21] cartoonjazz commented on #807
here are the screen shots of the databases ibb.co/QkVtcZw

[2020-04-15 16:09] victor-v-rad commented on #807
It is better to install Magento 2 extensions after migration of settings and data

[2020-04-15 16:12] cartoonjazz commented on #807
I have not installed any magento 2 extensions

[2020-04-15 16:14] victor-v-rad commented on #807
then probably magento 2 db you showed in screenshot is not from magento 2

[2020-04-15 16:16] cartoonjazz commented on #807
yes it is, why do you think it's not the magento data?

[2020-04-15 16:19] victor-v-rad commented on #807
please try to find db_core_config_data table in your Magento 2 DB

[2020-04-15 16:39] cartoonjazz commented on #807
My Magento 2 install put in 3 databases
1-with a "_db" suffix doesn't contain any tables with the word core
2 -with a "_mg" suffix that contains the core_config_data table
3-with a "_fr" suffix doesn't contain any tables with the word core

Since I'm doing the settings migration do I point to the "_mg" suffix in the config file then change it to the _db suffix data to do the data migration?

[2020-04-15 16:42] victor-v-rad commented on #807
The tool does not support migration to Magento 2 split database

[2020-04-15 17:40] cartoonjazz commented on #807
I installed M2 using installatron and was not asked about splitting the
data. Is there a location I can download a blank data or have Magento
generate a blank data that I can use for the data migration tool?

On Wed, Apr 15, 2020 at 10:42 AM Victor Rad <notifications@github.com>
wrote:

[2020-04-17 01:03] cartoonjazz commented on #807
The config.xml was pointing to the wrong data. After pointing to the correct db everything migrated

[2020-04-17 01:03] #807 closed, assigned to nobody

[2020-04-19 10:28] iphigenie commented on #782
Looking at other tickets around rewrites these category/product deltas cause a few bugs.

Perhaps worth mentioning in the docs somewhere that if your delta phase will last a while, unless people really need the old category/product rewrites for url keys that were changed, it is much simpler to turn off the category/products rewrites during the migration. Either on both sides or on the new M2 site.

[2020-04-19 10:36] iphigenie commented on #804
You can disable entire steps for each phase in your config.xml - inventory step is both in the data phase and the delta phase iirc

[2020-04-20 08:00] iphigenie commented on #723
Hi Victor and team.

From my cursory review of the changes 2.3.3 -> 2.3.4 should also be safe, What do you think? @victor-v-rad

[2020-04-20 11:52] victor-v-rad commented on #723
Hi Joelle
Migration 2.3.3 -> 2.3.4 is a job for internal Magento installing scripts. The tool can migrate only M1 -> M2. You can rise this question here https://github.com/magento/magento2/issues

[2020-04-20 12:57] iphigenie commented on #723
Hi @victor-v-rad  sorry I should have realised you were going to see this without much context.

What I meant it - currently working M1->M2 migration in delta stage with M2 version 2.3.3
Very close to live switchover

Problem is the 2.3.4 upgrade is probably best done and tested before live switch, but not if it breaks the migration
If I update M2 to 2.3.4 and the data migration tool to 2.3.4 and

[2020-04-22 02:06] javierenciso commented on #766
@codedge having exact same issue with similar preconditions (migrating from 2.2.3 to 2.3.3) and several modules with modifications.
Can I ask you for some orientation in what kind of module was interfering?
Was it modifying the payment? or dispatching any event before time?
Would be very grateful with some help - need to complete migrations asap.
/best
/javier

[2020-04-23 07:44] codedge commented on #766
@javierenciso I had a module for debugging purposes that hooked into `checkout` and `payment` events. I wanted to track when the payment object gets empty. Unfortunately this module made, for whatever reasons, that the `getPayment()` method returned `null` - although it did not touch this method or any object around.

[2020-04-23 09:38] iphigenie opened #809 "Migrated attributes do not show in admin grids - is_visible_in_grid migration problem"
This is caused by assumptions in the interface flow of Magento 2, that failed for migrated eav.

**Starting point:**

I created some new attributes and noticed they appeared in grids by default, including "add related products". My migrated attributes did not and dammit I want them to! No admin settings combination could make my migrated attributes show.

I looked around the code for these grids,

[2020-04-23 10:58] iphigenie commented on #809
note: the migration in question was done this winter, end of January iirc between 1.9.3.10 and 2.3.3

[2020-04-26 12:09] #805 closed, assigned to vishal-7037

[2020-04-28 15:54] victor-v-rad commented on #771
The fix released in DMT 2.3.5

[2020-04-28 15:54] #771 closed, assigned to nobody

[2020-04-28 19:33] #764 closed, assigned to nobody

[2020-04-28 19:40] #729 closed, assigned to nobody

[2020-04-28 19:41] #742 closed, assigned to nobody

[2020-04-28 19:41] #756 closed, assigned to nobody

[2020-04-28 19:42] #767 closed, assigned to nobody

[2020-04-28 19:42] #787 closed, assigned to nobody

[2020-04-28 19:42] #789 closed, assigned to nobody

[2020-04-28 19:42] #793 closed, assigned to nobody

[2020-04-28 19:53] #796 closed, assigned to nobody

[2020-04-28 19:54] #795 closed, assigned to nobody

[2020-04-30 14:27] Rajat9620 opened #811 "Integrity constraint violation error on Map migration setp"
Hello Support,

I am doing data migration from Magento 1.9.4 to Magento 2.3.3. Setting migration is working fine but I am getting error on data migration (Map Step). Error in mentioned below.

I have checked the migrtaion log but still not able to find the issue. @victor-v-rad @victor-ruiz  Please check once and help me to solve such issue.
Magento 1 version: 1.9.4.0
Php for Magento 1: 5.6
Magento

[2020-04-30 14:40] Rajat9620 commented on #811
When I execute data migration command using -vvv option then I am getting following error
https://prnt.sc/s8os9o

[2020-04-30 15:42] helmsmantest commented on #576
Hi, probably it would be helpful for somebody.
I added the following lines
`<transform>
                <field>eav_attribute.backend_model</field>
                <handler class="\Migration\Handler\ClassMap" />
            </transform>
            <transform>
                <field>eav_attribute.attribute_model</field>
                <handler class="\Migration\Handler\ClassMap" />
            </t

[2020-05-01 15:04] iphigenie commented on #811
These can happen either because of a previous failed run that didn't clean after itself, or some issues in the old site that happened through things like modules that might add or delete things without keeping consistency.

The original error should be followed by a bit more so you can guess which table it is happening in

The second error is at the the inventory step integrity phase so you want t

[2020-05-01 15:57] Rajat9620 commented on #811
sorry, not clear. Can you please elaborate?

On Fri, 1 May 2020 at 8:35 PM, Joelle Nebbe-Mornod <notifications@github.com>
wrote:

[2020-05-01 21:44] iphigenie commented on #811
without more information I am guessing

The migration tool takes a few rounds of trial and error... figure out one issue, revert to clean, run again, next issue.

The error warns of a duplicate in a key, which means it is trying to insert something already in the target database. This should not happen. So either you have a duplicate in your source database (not impossible, happened to me on a web

[2020-05-03 18:53] Rajat9620 commented on #811
Hello Joelle,

Thanks for your reply.
Yes, I am running tool on fresh magento with no back traces. yes from the
error I is not possible to get the issue. But still can you suggest me
where or which table I need to check for the duplicate and how?

Please let me know asap.

Thanks

On Sat, 2 May 2020 at 3:14 AM, Joelle Nebbe-Mornod <notifications@github.com>
wrote:

[2020-05-07 09:14] ChameleonDevil opened #812 "Why is the newer 2.3.5 Step/Eav/Data.php so much smaller"
Magento 1 1.7.0.2 to Magento 2.3.4 / Magento 2.3.5 Migration

I have so many issues with Migration from 1.7.0.2 to 2.3.4 / 2.3.5

Previously, I managed to get migration to work (1.7.0.2 - to 2.2x); but newer versions give more issues.  I merged **everything** to map.xml and deltalog.xml from older versions that were required for the custom tables / data fields.

The recent version 2.3.4 Data Migra

[2020-05-07 09:20] ChameleonDevil commented on #812
Just want to add: this happens on a **clean install** of Magento 2.3.5.

[2020-05-07 16:19] iphigenie commented on #811
Sorry there just isnt enough information to be able to help - hopefully the data key that is duplicated "770p h3svhdpkhqjoal0h55eso4" gives you a hint what type of content it can come from. Otherwise you might want to do a database dump and grep through it to find that data... Then you know what to migrate or clean up or not migrate

[2020-05-07 16:20] iphigenie commented on #723
At first glance it continued fairly smoothly - though I have several parts of the delta turned off as irrelevant to me so other people's mileage may vary

[2020-05-07 20:10] liushu2000 commented on #453
Thanks, I got the same issue, fixed using your solution, thanks

[2020-05-10 06:43] pk1774 commented on #235
Kindly check if you have correctly entered the database name in the config.xml

[code]

I am 100% sure this is the mistake you are making. Hope this helps.

[2020-05-11 07:23] ChameleonDevil commented on #800
I created symbolic links for my custom map.xml, deltalog.xml etc files.

Inside your vendor/magento/data-migration-tool/etc/{type}/{version}... folders, create the symbolic links to your custom path.   This is obviously just a work around, and should be handled by the module.

Also, previously tried absolute paths, but for **some of the steps**, the absolute path gets appended after the relative p

[2020-05-11 07:53] ChameleonDevil opened #813 "Undefined Offset: in Migration/Step/Eav/Data.php"
### Before I continue here:

For reference, I created this topic around the same time I added this issue last year:
[Why is the newer 2.3.5 Step/Eav/Data.php so much smaller  #812](https://github.com/magento/data-migration-tool/issues/812)

## Edit 2021:
Please read the link above for the concern I raised:
Summary: Looking at the current commits (2021) for `Step/Eav/Data.php` it still has less cod

[2020-05-11 15:05] KZNcode commented on #813
Having a very similar issue.

[code]

Destination: Clean installed Magento 2.3.5-p1; data-migration-tool 2.3.5;
Source: Magento 1.9.4.5

Previous magento versions import worked fine:

Destination: Clean installed Magento 2.3.4; data-migration-tool 2.3.4;
Source: Magento 1.9.4.4

[2020-05-11 15:14] KZNcode commented on #812
Think you narrowed down the culprit. Now we need a fixed version of data-migration-tool:2.3.5 , or try a workaround like downgrading to data-migration-tool 2.3.4 and trying that on M2.3.5... or at worse, downgrade both the tool and magento...ugh.

Added my error to your other issue
 #813

[2020-05-11 15:18] norgeindian opened #814 "Wrong Migration of catalog/seo/product_url_suffix and catalog/seo/category_url_suffix"
### Preconditions

1. Magento 1.9.4.4
2. Magento 2.3.4
3. Data Migration Tool 2.3.4

### Steps to reproduce

1. Set the config under the path `catalog/seo/product_url_suffix` to `/`
2. Migrate the settings with the data migration tool
3. Check the migrated value of `catalog/seo/product_url_suffix`

### Expected result

1. I would assume, that the value remains `/`

### Actual result

1. The migrat

[2020-05-11 15:41] KZNcode commented on #813
Having a very similar issue.

[code]

Destination: Clean installed Magento 2.3.5-p1; data-migration-tool 2.3.5;
Source: Magento 1.9.4.5

Previous magento versions import worked fine:

Destination: Clean installed Magento 2.3.4; data-migration-tool 2.3.4;
Source: Magento 1.9.4.4

[2020-05-12 04:50] ProxiBlue commented on #742
@victor-v-rad  Why was this closed? is it solved?

[2020-05-12 06:49] LiamKarlMitchell commented on #742
My only thoughts are that @victor-v-rad  might have different environment (mysql/php) versions or is not trying it on a Magento 1.9x site that is already long populated with data.

[2020-05-12 08:15] ChameleonDevil commented on #813
This is most definitely the same issue, line 492 as explained above the array does not contain an item with index 18.

The method `createMapProductAttributeGroupIds()` populates `mapAttributeGroupIdsSourceDest` array but skips your group id 18.  For me it was ID 4, where group 4 was '4-Meta Information', but the actual source database group id 4 is 'General Information', so '4-General Information'

[2020-05-12 08:22] ChameleonDevil commented on #812
I have tried 2.3.4 migration-tool with M2.3.4 which had other errors; before deciding to upgrade to 2.3.5 since its a very recent version.

I can confirm 2.3.4 does not work either.  As for older versions, that most definitely skips alot of mapped columns/tables, so you will have to merge all the recently added mapped items.  I also do not know how this will go since the issue regardless is to **t

[2020-05-12 20:57] victor-v-rad commented on #627
The feature implemented and released in DMT 2.3.5

[2020-05-12 20:57] #627 closed, assigned to nobody

[2020-05-13 01:04] jloreto commented on #227
Greetings, I had a similar error but on line 492,
always use reset `migrate: data -r`
  and when it reaches this point the databases have already been modified. I had my backup and towards restoration.

I went to the line and ignored the Notice Exception with @

[code]

Then all fine work

Regarding, need to restore the database then start migration again, I think that here https://oyenetwork.com/

[2020-05-13 04:27] diamondavocado commented on #813
Having the same issue. The integrity check stage doesn't report any problems but I still get this error with `attribute_group_id` like the others.

My incredibly shoddy workaround has thus far been to skip the problematic IDs but this is far from an ideal solution:

    #vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php
    #Add at line 492:
		if (in_array($record['attribute_group

[2020-05-13 11:07] ruipns commented on #467
Hey,

I had the exact same problem, I spent dome days just with trial and error and I managed to do it.

So I separated the customers from the orders and it worked like this.

**Import Customers:**

Truncate all customers just like @gouravsyscraft did.
In config.xml
`<steps mode="data">
        <step title="Customer Attributes Step">
            <integrity>Migration\Step\Customer\Integrity</integr

[2020-05-13 11:22] ruipns commented on #125
Hey,
I had the same issue

https://github.com/magento/data-migration-tool/issues/467#issuecomment-627912182

Hope it helps someone!

[2020-05-13 12:28] victor-v-rad commented on #813
'Undefined offset' error was fixed in ea9cc9f21d3634dd3695fd88f9c869d9535cb6a6 and merged into 2.3-develop branch

[2020-05-14 06:26] imrandotftr commented on #323
Hi Victor,

We have successfully migrated data from Magento 1.13.0.2 EE to Magento 2.3.4 EE cloud version.
We are not able to update custom customer attribute both from frontend and admin.

Regards,
Imran Ansari

[2020-05-14 12:52] victor-v-rad commented on #323
Hi @imrandotftr

Please use the latest Magento 2.3.5 and DMT 2.3.5 it has a lot of changes into migrated EAV and the issue you have should be fixed there

[2020-05-18 07:36] ChameleonDevil commented on #813
Yeah I fixed this with a similar way on my branch.  Thanks for update!

Since fixing this, I am now trying to figure out why my categories do not show,

Every single one of them returns error 404.  Anyways topic for another day

[2020-05-18 07:42] ArpitTiwari9555 commented on #323
Hi @victor-v-rad

We have used Magento 2.3.5 and DMT 2.3.5 .The new customer attributes which we are creating are working now but the migrated attributes are not working even after my migration completed properly without giving issue in the attributes step. The attributes are migrated but not saving the data the attributes are showing on the admin and frontend too but not saving any data to the da

[2020-05-19 06:49] vimal-ranosys commented on #323
Hi @victor-v-rad

Can you please advise on same issue as metioned by Arpit?

[2020-05-20 19:20] drinkingsouls commented on #812
I was running regular delta from a Magento 1.9.0.1 to Magento 2.3.4 for a period absolutely fine.
I updated to Magento 2.3.5-p1 yesterday and I am now unable to delta. I edited the map files, including configs but I can no longer migrate data fully.
I get parts of data across, incomplete product. I don't get Price, Visibility, Status, Websites or Categories.

[2020-05-21 08:15] ChameleonDevil commented on #812
Unfortunately with my data, especially products and categories have so many issues that I need to apply changes manually; MySQL queries etc, so I am still not even able to get to the stage where I'm ready to run `migrate:delta`.

For instance, my **Magento 1.7.x** data seems to not have `page_layout` correctly set - but they work perfectly on the frontend - for years now.

[code]
_or_

[code]

Whe

[2020-05-21 23:29] drinkingsouls commented on #316
Hi,
I have an issue with Delta missing certain products, customers, orders.
I think this occured as I had run a delta and then revised to an earlier version of the database. I now cannot delta back the changes. Any new data seems to be going across but nothing in the gap between the database backup and now will migrate.
Does anyone have any solutions that worked for this?
Thank you.

[2020-05-22 12:15] ChameleonDevil opened #815 "Magento 2.3.5 migration - Category IDs not correctly set in corresponding tables. (Fix related to error 404 / Knockout bindings not working)"
### Preconditions

1.   Magento 2.3.5 clean installation
2.   Magento Data Migration tool v2.3.5 with config for source data Magento 1 : 1.7.0.2

### Steps to reproduce

1.   Setup clean installation of Magento 2.3.5
2.   Migrate Data but make sure to rename Magento 2.3.5 attribute set names (otherwise this tool complains and fails with DUPLICATE IDs)
3.   After renaming existing M2 attribute set

[2020-05-23 10:45] skthewebmaster opened #816 "Undefined offset: error at [stage: data migration][step: EAV Step] for Migration from Magento 1.7.0.2 to Magento 2.3.5"
### Preconditions

1. Magento 1.7.0.2 to Magento 2.3.5.p1
2. PHP 7.2.28

### Steps to reproduce

1. In source database, that is Magento 1.7.0.2, select any attribute_id from "catalog_eav_attribute" table
2. Now remove row of same attribute_id from table "eav_attribute"
3. Execute data migration command

php bin/magento migrate:data -r -a vendor/magento/data-migration-tool/etc/opensource-to-opensou

[2020-05-25 05:25] KZNcode commented on #816
SEE:  #https://github.com/magento/data-migration-tool/issues/813

(Restore the database backup you made BEFORE running the data-migration-tool... Using "--reset" or "-r" won't work... You gotta restore the backup each time it fails with this latest version)

cd vendor/magento/

mv data-migration-tool data-migration-tool-bak

git clone https://github.com/magento/data-migration-tool.git

Now copy ov

[2020-05-26 13:50] victor-v-rad commented on #816
@skthewebmaster  please also take a look at similar error in https://github.com/magento/data-migration-tool/issues/813 and fix

[2020-05-26 13:55] yogeshkhasturi commented on #813
@ChameleonDevil Yes same issue here. products data is empty and category mapping the is there but form frontend it says "NO PRODUCT"

Did you find any solution?

[2020-05-26 14:07] skthewebmaster commented on #816
Hi @KZNcode and @victor-v-rad

Thanks for sharing this link.
I made changes to src/Migration/Step/Eav/Data.php as mentioned in https://github.com/magento/data-migration-tool/commit/ea9cc9f21d3634dd3695fd88f9c869d9535cb6a6 and it worked.

Database migrated and products, orders etc. shows in list but when I try to edit product it gives 500 error.

[2020-05-26 14:12] ChameleonDevil commented on #813
@yogeshkhasturi

I do not know if you really have the same problem I had here, but in my description I commented this:

**Potential fix - but read notes below**
Go to that section above and read about the solution.  I also believe that @victor-v-rad [added a similar commit](https://github.com/magento/data-migration-tool/commit/ea9cc9f21d3634dd3695fd88f9c869d9535cb6a6)  for this issue.  Everything

[2020-05-26 16:17] Darkwolf81 opened #817 "Data Migration: Default attributes missing in attribute aets if it is not in default Magento 2 attribute set"
### Preconditions

1. Magento 1.9.4.4, PHP 7.2
2. Magento 2.3.5, PHP 7.2
3. Data Migration Tool 2.3.5

### Steps to reproduce

1. Source store has attribute sets with manufacturer attribute
2. Magento 2 default attribute set has not the manufacturer attribute in it
3. After migration, all migrated attribute sets are missing the manufacturer attribute

### Expected result

Attribute Sets have the s

[2020-05-26 16:28] yogeshkhasturi commented on #813
@ChameleonDevil

**This definitely fixed undefined index issues on this step, I have ran several migration items afterwards. Other failures, but not related to this issue anymore.**

Even my migration was completed after ea9cc9f21d3634dd3695fd88f9c869d9535cb6a6 this fix but something was affected with the attribute group in my database. the database available in the database but the relation of th

[2020-05-27 14:31] ChameleonDevil commented on #817
What is the attribute called inside Magento 1?

I just checked and I do not have attribute `manufacturer` in **Magento 1**, but I do notice there is an attribute `manufacturer` in Magento 2 - but it is empty (obviously because my Magento 1 instance does not have that attribute.

[2020-05-27 14:59] ChameleonDevil commented on #813
Hi @yogeshkhasturi

Sorry just saw your message now.

Glad to hear that it fixed your first issue (of many :P).

This **eav_attribute_group** issue that you mentioned as far as I remember **only** occurs when you try to run `bin/magento migrate:data --reset` again once a previous migration already migrated all the attributes.  I seem to recall the migration tool confused with the IDs of the groups

[2020-05-27 15:08] ChameleonDevil commented on #816
@skthewebmaster

The referred issue [#813](https://github.com/magento/data-migration-tool/issues/813) was the starting point of many other issues for many - completely unrelated to that because just getting a successful import took several restarts.

Refer to my last comment I added there today for migration resets, and possibly some more ideas.

Unfortunately I cannot assist with error 500, for m

[2020-05-27 15:51] Darkwolf81 commented on #817
Hello,
the attribute in magento 1 is manufacturer. I just tried to install a fresh Magento 1.9.4.4 (without sample data or something), screen attached. There is a manufacturer attribute.

![Unbenannt](https://user-images.githubusercontent.com/29105178/83042828-615d1f80-a042-11ea-8239-aec092ca67ce.JPG)

Regards,
Andreas

[2020-05-27 18:50] yogeshkhasturi commented on #813
@ChameleonDevil Thank you for the guidance this step was really new and seems to be helpful.

**VERY IMPORTANT: *Delete the var/migration ** entries in Magento 2 folder. These files are used by the tool it seems to keep track of where you stopped previously. So since the migration does not work 100% yet, just restart from the beginning. (this might also be why you have group issues). I always dele

[2020-05-28 09:14] yogeshkhasturi commented on #812
@ChameleonDevil You are right even migration form 1.8 is not successful.  "catalog_product_entity_varchar" table has much value as **NULL** and i changed pagelayout manually but still many other need attribute value is **NULL** do we need to add value to all manually or what needs to be done?

Migration is stuck at this table https://prnt.sc/spacyo

Thanks,

[2020-05-28 10:21] ChameleonDevil commented on #817
I just checked again - my Magento 1.7.0.2 installation do not have **manufacturer** field.

You are correct though : There is definitely an attribute in Magento 2 - [Search Results](https://github.com/magento/magento2/search?q=manufacturer&unscoped_q=manufacturer), however this migration tool does not seem to [specifically target this attribute on import](https://github.com/magento/data-migration-

[2020-05-28 10:47] Darkwolf81 commented on #817
The Shop i support started from 1.6 or 1.7. Manufacturer was part of the base installation. Attribute ID is 70, Image is 74. So the attribute was part of the base installation.
The migration is working, the manufacturer data is completely migrated. Just the attribute is not correctly added to the attribute sets.

[2020-05-28 13:28] yogeshkhasturi opened #818 "Migration from 1.8.1.0 stuck at map step step: table: catalog_product_entity_varchar]:"
### Preconditions

1. Migration from Magento 1.8.1.0 to Magento 2.3.3 and 2.3.5(both have same error)
2. tried #812 it was related to that. but m1 table "catalog_product_entity_varchar " has thousands of more Value as **NULL**

### Steps to reproduce

1.  Data Migration -> Map Step

### Expected result

1. it should avoid all issues and complete the migration

### Actual result

1. `[2020-05-28 08

[2020-05-28 19:52] yogeshkhasturi commented on #818
@victor-v-rad hopefully you can check this ASAP,

[2020-05-29 08:03] ChameleonDevil commented on #812
@yogeshkhasturi

You have uncovered something that I never noticed, but it might be a big issue.  Also if you have any more details of which important attributes are NULL, it will be useful for @victor-v-rad .

To start off this discussion:
- Running this on a Magento 1 database (which has **262 attributes**):  returns **109,718 rows**
- Running this on a migrated Magento 2 database: (which has **

[2020-05-29 08:05] ChameleonDevil commented on #818
@yogeshkhasturi

(Also posted in [#812](https://github.com/magento/data-migration-tool/issues/812))

You have uncovered something that I never noticed, but it might be a big issue.  Also if you have any more details of which important attributes are NULL, it will be useful for @victor-v-rad .

To start off this discussion:
- Running this on a Magento 1 database (which has **262 attributes**):  ret

[2020-05-29 12:27] yogeshkhasturi commented on #818
@ChameleonDevil How can we know that which attribute in m2 can have NULL value so that we can add dummy value to other attributes. ?

Thanks

[2020-05-29 12:31] yogeshkhasturi commented on #812
@ChameleonDevil Can we do like this.

If the Attribute value is NULL system should add "String" there just to avoid the Process to be hanged. ?
I don't know why @victor-v-rad is not available and not helping.

[2020-05-29 13:50] victor-v-rad commented on #812
Please take a look at our [Wiki](https://github.com/magento/data-migration-tool/wiki#reporting-issue-rules).

Also please consider making your contribution into the project through pull requests

[2020-05-29 14:38] yogeshkhasturi commented on #812
Hi @victor-v-rad I will do contribution, can you please answer below question so that i will do that in my end and contribute through pull request once that issue is fixed.

Thanks

[2020-05-29 17:47] C4rter commented on #61
Can somebody explain this a bit more detailed? The link isn't working and I don't understand why increment ids that are created after a migration are now 10 digits long (despite the pattern in module-sales-sequence/Model/Sequence.php still saying 9).
They are only 9 digits in a fresh installation and in Magento 1 as well.

[2020-05-30 22:05] ae-smith opened #819 "1.8.1.0 to 2.3.5 ignored table gives "not found" MySQL error"
### Preconditions

1. Source: 1.8.1.0 community
2. Destination:  2.3.5 community
3. Local install using markshust docker setup (https://github.com/markshust/docker-magento)
4. Fresh install of m2
5. Ran migrate:settings
6. Ran migrate:data
7. Verified map.xml has ignored this table (prefix_yotpo_rich_snippets)

### Steps to reproduce
This happens on a fresh 2.3.5 install, it runs for quite a while

[2020-06-01 07:31] ChameleonDevil commented on #819
Just for clarification:
`prefix_yotpo_rich_snippets` , and the table error **`cabhubyotpo_rich_snippets`** doesn't look like its in the same format.  **(Underscore before yotpo, vs no underscore from generated data report)**.  Unless your original statement was just a typo, this is most likely the error.

[2020-06-01 09:08] ChameleonDevil commented on #818
Hi @yogeshkhasturi

I am not sure if you found a solution, please update if you have more information.
I guess something like this:

1. **is_required** ? yes/no
2. **default_value** ? [NULL]
3. **entity_type_id** ?

---------------------------------------------------------------------------------
`SELECT * FROM eav_entity_type;`
Returns **catalog_product** as entity_type_id = **4**

--------------

[2020-06-01 10:51] skthewebmaster commented on #816
Hi,

The error 500 was coming from 3 attributes entry in "eav_attribute" database table.
1. "preorder",
2. "preorderdescript"
3. "status_preorder".

I deleted this entries and now I can edit product.

I have also noticed that database from magento 1.7 version has "manufacturer" attribute exist and new magento 2.3.5 also has this attribute "manufacturer" exist in "eav_attribute" database table with

[2020-06-01 13:09] ae-smith commented on #819
The m1 prefix used on this customer's db is set up like `prefixtable_name`
- as opposed to `prefix_table_name`.

On Mon, Jun 1, 2020 at 3:31 AM ChameleonDevil <notifications@github.com>
wrote:

[2020-06-01 13:55] ChameleonDevil commented on #819
I assume you set `both of these in config.xml` correctly of your etc/magentoversion/version-number/ file:
`<source_prefix />`
`<dest_prefix />`

Also you set this correct :             `<ignore>
                <document>core_website</document>
            </ignore>`

You also have this option: in map.xml

`            <rename>
                <document>catalogsearch_query</document>

[2020-06-01 17:36] yogeshkhasturi commented on #818
@ChameleonDevil Thanks for your reply. i was actually thinking to update 1.8 to 1.9 and then 1.9 to 2.3. but after your reply i will give it one more try. we have 54 attributes with required value.

https://prnt.sc/sruhbh

[2020-06-02 07:32] ChameleonDevil commented on #818
Just to make sure you understood your results:

**Those are your ** _is_required = 0_ attributes :)  You need to take the opposite of that as I had explained in previous post.

Good luck with the upgrade to 1.9x, I never successfully managed to upgrade one site without the whole theme breaking completely.

[2020-06-02 11:25] yogeshkhasturi commented on #818
@ChameleonDevil

****Those are your ** is_required = 0 attributes :) You need to take the opposite of that as I had explained in previous post.**
-- I guess I didn't understand completely, because i am not familiar with magento database too much, can you please help me to find the solution?

**Good luck with the upgrade to 1.9x, I never successfully managed to upgrade one site without the whole th

[2020-06-02 11:39] yogeshkhasturi commented on #818
@ChameleonDevil I was thinking the attributes which have nulled value and are  is_required = 1, should we ignore those attributes from EAV steps. will those attributes still create an issue in the Map step? what do you think?

Thanks,

[2020-06-02 11:51] ChameleonDevil commented on #818
The suggestion is to just see what the results of these are:

`SELECT * FROM eav_attribute AS ea
WHERE ea.entity_type_id = 4
AND ea.is_required = 1
AND (ea.default_value IS NULL or ea.default_value = "");`

This gives you all the **products (entity_type_id = 4) that has (is_required = 1) and where default_value is NULL or empty string**  .

Then you also need to see which **attributes you want to

[2020-06-02 11:53] ChameleonDevil commented on #818
If they allow NULL or empty strings, but are required... I don't think they should give any errors.  (Can't confirm atm though)

[2020-06-02 12:55] yogeshkhasturi commented on #818
I see. i will check and i will update you how it goes,

[2020-06-03 09:53] Eddcapone commented on #524
I have used prefix but still get the same error.

[2020-06-03 21:19] yogeshkhasturi commented on #818
@ChameleonDevil its not working by ignoring Product attributes in the EAV step.  also, i tried to add values in those null values but after migration completed in Magento 2 data is incomplete like, the product name is missing and all.

we need to find solutions where we can ignore NULL values or bypass the values.

ANY IDEA?

T

[2020-06-04 07:59] ChameleonDevil commented on #818
@yogeshkhasturi

I do not understand how `name` attribute can be empty after you added values :)

`SELECT * FROM eav_attribute AS ea
WHERE ea.entity_type_id = 4
AND ea.is_required = 1
AND (ea.default_value IS NULL or ea.default_value = "");`

This clearly shows that attributes like `name, price, sku, etc` **_requires values_** even though their default values are NULL.  At the very least I thought

[2020-06-05 06:52] dekiakbar commented on #759
@victor-v-rad any update related this issue ? I have got this issue after migration

[2020-06-05 08:31] Dragonissa commented on #759
Same for me, did the migration from 1.9.2.4 to 2.3.5-p1. But even creating a fresh customer showed the issue, without any message on the page itself(just a red bar and in the exception.log).

[2020-06-05 11:52] yogeshkhasturi commented on #818
@ChameleonDevil Actaully "name" values are not NULL but after migration Product names are not available in Products.

[2020-06-06 12:11] sumeet-mis commented on #399
@anil-suthar
did you solve this ?
i am also getting this issue all are migrated but category images(or name) is not migrated from M1 to M2.

or anyone there how to solve this ?

[2020-06-08 03:49] estebansmith-ris commented on #813
@ChameleonDevil I'm having the same issue with the 404 did you fix this issue?

[2020-06-08 08:00] ChameleonDevil commented on #813
@estebansmith-ris ,   Are you referring to categories that I had issues with error 404?  Then yes, but since you are in this Eav/Data.php issue thread, Im not sure what you are talking about - there are plenty of 404 issues in M2.

If it is related to Categories, I am almost certain this issue I [created a solution for #815](https://github.com/magento/data-migration-tool/issues/815)  I had was rel

[2020-06-08 08:06] ChameleonDevil commented on #818
@yogeshkhasturi Then it is probably possible that the migrated attribute sets (or attribute set groups) you use for your products have not migrated.

Investigate `attribute_set` table and see if the attribute 'name' is in the attribute sets that your products use. (You could quickly confirm from M2 backend as well I guess).  If it is not attached to attribute groups (Those seperate sections in M2

[2020-06-08 08:07] ChameleonDevil commented on #815
I potentially think this issue also fixes the 404 category errors after migration as well.  Please confirm if anyone else are having same issue.

[2020-06-08 08:40] sumeet-mis opened #821 "Payment content showing with HTML tags on admin invoice pages"
### Preconditions

1. Source: 1.9.4.0
2. Destination: 2.3.5
3. Fresh install of m2
4. Run migrate:settings
5. Run migrate:data
All data is migrated

### Steps to reproduce

1. We migrated data successfully but getting issues of html tags on invoice pages.
Admin->Sales->Invoices->Click on any invoice->Invoice page will open "Payment Information" under "Payment & Shipping Method" head here Data(cont

[2020-06-08 09:07] sumeet-mis opened #822 "Product admin Uncaught TypeError: this.linksFieldset(…).visible is not a function"
### Preconditions

1. Source: 1.9.4.0
2. Destination: 2.3.5
3. Fresh install of m2
4. Run migrate:settings
5. Run migrate:data
All data is migrated

### Steps to reproduce

1. When we edit product from admin then its showing loading continue and also getting this error

`"Uncaught TypeError: this.linksFieldset(...).visible is not a function" `
is showing error in console. For others product opens

[2020-06-10 10:25] alejandrosantafixie opened #823 "Integrity constraint violation: 1062 Duplicate entry 'XXX-XXX' for key 'EAV_ENTITY_ATTRIBUTE_ATTRIBUTE_SET_ID_ATTRIBUTE_ID'"
### Preconditions

1. Migrating from Magento 1.9.3.10
2. Migrating to Magento 2.3.5-p1

### Steps to reproduce

1. Run Settings migration as usual
2. Run Data migration as usual

### Expected result

1. Migration with no errors or integrity step failing with details

### Actual result

1. Integrity constraint violation: 1062 Duplicate entry 'XX-XXX' for key 'EAV_ENTITY_ATTRIBUTE_ATTRIBUTE_SET_ID_A

[2020-06-10 10:39] alejandrosantafixie commented on #823
@magento I am working on this

[2020-06-11 11:30] alejandrosantafixie commented on #823
@victor-v-rad This is the same problem, and it's coming up again because `data-migration-tool/src/Migration/Step/Eav/Data.php` was completly rewritten in Data Migration Tool 2.3.5: https://github.com/magento/data-migration-tool/issues/201#issuecomment-361440309.

It looks like the issue is at the `createProductAttributeSetStructures` method

[2020-06-12 05:35] kisfelix opened #824 "Undefined offset: 11 in vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php on line 651"
### Preconditions
1. Magento 1.9.3.8, Magento 2.3.5-p1
2. PHP 7.3.8, MySQL 5.7

### Steps to reproduce
1. run migrate:data -a [config.xml]

### Actual result
$ php bin/magento migrate:data -a [ABS PATH]/app/code/Vendor/Migration/etc/opensource-to-opensource/1.9.3.8/config.xml

[2020-06-12 04:56:31][INFO][mode: data][stage: integrity check][step: Data Integrity Step]: started
[2020-06-12 04:56:31][

[2020-06-12 05:36] kisfelix commented on #824
@magento I am working on this

[2020-06-12 08:12] alejandrosantafixie commented on #823
I ran a migration using the same M1 database, but downgrading my M2 to v.2.3.4 and it worked.

Comparing the 2.3.4 and 2.3.5 results, I found that `data-migration-tool/src/Migration/Step/Eav/Data.php` file was completely rewritten and the renaming step from "Default" to "Migration_Default" for the Attribute Set contained in `eav_attribute_set` table were removed on the latest version of Data Migra

[2020-06-12 15:02] jerry-shopcommerce commented on #813
I had the same issue with a migration from magento 1.9.4.5 to 2.3.5 today.

This comment gave me the idea to change the name of the default product attribute set to "Default" in the magento1 database: https://github.com/magento/data-migration-tool/issues/112#issuecomment-242317826

So far it seems to fix my problem.

[2020-06-12 16:27] victor-v-rad commented on #824
Hi @kisfelix

I comitted a fix https://github.com/magento/data-migration-tool/commit/46c1d11d598daba30681f700c63718740c77ba15 for EAV step into 2.3-develop branch Please try it and see if it helps

[2020-06-12 16:28] victor-v-rad commented on #823
Hi @alejandrosantafixie

I comitted a fix https://github.com/magento/data-migration-tool/commit/46c1d11d598daba30681f700c63718740c77ba15 for EAV step into 2.3-develop branch Please try it and see if it helps

[2020-06-12 21:12] kisfelix commented on #824
Thanks @victor-v-rad, I have applied the branch and tried again. Still no luck though.

$ php bin/magento migrate:data -a [ABS PATH]/app/code/Vendor/Migration/etc/opensource-to-opensource/1.9.3.8/config.xml

[2020-06-12 21:09:34][INFO][mode: data][stage: integrity check][step: Data Integrity Step]: started
100% [============================] Remaining Time: < 1 sec
[2020-06-12 21:09:39][INFO][mode

[2020-06-12 22:22] p810 opened #825 "Undefined index: 1-Default in Migration\Step\Eav\Data on line 624"
### Preconditions
1. Migration is from 1.14.4.5 to a clean installation of 2.3.5-p1
2. DMT is 2.3.5
3. PHP is 7.2.22
4. MySQL is 5.7.25
5. A custom module `Foo_Migration` is used to map custom attributes, tables, etc.

The contents of `eav_attribute_set` for the source database are as follows:

[code]

And the contents of the same table in our destination database are:

[code]

### Steps to reprod

[2020-06-12 22:47] p810 commented on #825
Fixing the mapping seems to solve the problem, but then it goes onto encounter the undefined offset issue that's been discussed in #813. Applying the patch from ea9cc9f however has fully resolved the issue. PR incoming...

@magento I am working on this

[2020-06-13 16:29] p810 commented on #825
I'm welcome to feedback for the fix I just pushed at #826. I personally haven't had any trouble with the migration since applying this patch, but I opted to [fallback to the destination field key](https://github.com/magento/data-migration-tool/blob/3bff2ed5c6763db657bb2a6a59d53380f719e0a9/src/Migration/Step/Eav/Data.php#L643) in case there are scenarios where the source key should be preferred. I

[2020-06-15 08:48] ChameleonDevil commented on #825
@p810, I wish I knew, but I am so confused with this migration-tool's results at the moment.

Later on when I started investigating my products, they started showing **out of stock, more specifically configurable products**.

In this issue I asked why the older versions of Step\Eav\Data are so vastly different to older versions, see ([#812](https://github.com/magento/data-migration-tool/issues/812

[2020-06-15 12:32] ChameleonDevil commented on #824
I would suggest you restart migration for `migrate:data` from scratch similar to what I stated here [#813](https://github.com/magento/data-migration-tool/issues/813#issuecomment-634719725)

Follow those steps to ensure you have correctly restarted, *I do not think --reset works correctly at eav step!*

[2020-06-15 21:23] kisfelix commented on #824
@ChameleonDevil thanks for the suggestion, however, I already followed your original guide right from the first time I ran into the error. I can certainly get the migration done by ignoring the EAV step completely, but no one wants that.

[2020-06-16 14:00] snakezap opened #827 "[PDOException (42000)] SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ')) ORDER BY `entity_attrib ute_id` ASC LIMIT 392' at line 1"
Hello,

I try migration webshop but i have problem.

### Preconditions

1. Magento 1.9.3.7 => Magento 2.3.5-P1
2. PHP 7.3.19-1 | 10.3.22-MariaDB

### Steps to reproduce
php7.3 bin/magento migrate:data -r -a vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.7/config.xml

### Actual result
In Mysql.php line 110:

  SQLSTATE[42000]: Syntax error or access violation: 1064 You have

[2020-06-16 21:00] p810 commented on #815
We're noticing an issue today where none of our migrated categories have names. Do you know if this could be related to the problem you were experiencing? _edit_: Or, have you encountered this problem yourself?

[2020-06-17 09:04] ChameleonDevil commented on #815
Do you mean in the database or just in the backend?  This issue relates to bindings not working (and then showing empty values in the backend) but _the data is still intact in the database (well most of the category data)_, and the solution is which I added on Stack Exchange. You update the migrated data to the correct attribute set id. If it helps you please vote there :)

For instance this query

[2020-06-17 12:53] danmentzer commented on #812
I noticed a similar issue with the varchar table for products.
When running the migration tool with 2.3.5 I don't get any custom attributes from the varchar table carried over to m2 from m1.

For example i have an attribute station_sku its a special sku we use with shipstation but it is a different value then the regular magento sku.

And none of that attribute were carried over.

Let me know any

[2020-06-17 14:02] ChameleonDevil commented on #812
I have not as of yet uncovered which missing values for custom attributes I mentioned above (inconsistent counts) **except for my configurable products**, the simple products do not have their `catalog_product_entity_int` to `catalog_product_super_link` values defined.

It seems migration decided to INNER JOIN() my source data and didnt import any simple products that do not have the attribute def

[2020-06-19 07:53] Dragonissa commented on #759
Is there any other way to migrate the data? I need to get 24K customers migrated and i not gonna do that by hand.

[2020-06-19 12:01] alejandrosantafixie commented on #823
@victor-v-rad I tested the patch in Magento 2.3.5. Doesn't fix the issue :/

[2020-06-19 12:57] danmentzer commented on #812
I have managed to track my issue down to the PostProcessing Step of the migration one of the clean up function calls removes my attributes from the attribute set they are assigned to then removes the data of those attributes.

Prior to this step I can see in the db that the data did import prior to the step.
So I am currently trying to narrow down the clean up method that could be removing my data

[2020-06-19 13:14] ChameleonDevil commented on #812
Wow that is just unfortunate that clean up removes attributes from attribute sets.... this does not seem like expected behaviour.  I wonder if this clean up also removes `catalog_product_entity_int` entries and their `catalog_product_super_link` and `super_attribute` for those attribute sets that do not currently have the attribute item in the attribute set...

Is there any starting point you can

[2020-06-19 14:40] danmentzer commented on #812
@ChameleonDevil The actual code can be found in
[code]
within the perform() function
I haven't been able to determine which exact function within that is the issue yet.

[2020-06-19 19:18] danmentzer commented on #812
@ChameleonDevil
From what I can see the clean functions are just a symptom of another issue.
I went back through my m1 db and found that the data was first removed on the m1 side and then clean just removes it on the m2 side.

If you have any idea where in the migration process it removes data on the m1 side that would be helpful to know.

[2020-06-19 22:51] bakitoktas opened #828 "Empty default category names"
### Preconditions

1. Magento CLI 2.3.5-p1
2. Magento ver. 1.9.4.5
3. PHP 7.3.12-buster (cli) (built: Nov 22 2019 07:08:08) ( NTS )
4. mysql  Ver 14.14 Distrib 5.7.26-29, for debian-linux-gnu (x86_64) using  7.0

### Steps to reproduce

1. Install clean 2.3.5-p1 via composer
2. Run settings import - all successfully completed
3. run data import - all successfully completed

### Expected result

1.

[2020-06-19 22:52] bakitoktas commented on #828
@magento I am working on this

[2020-06-19 22:52] bakitoktas commented on #828
@magento add to contributors team

[2020-06-19 22:53] bakitoktas commented on #828
Please see the original issue above. Thanks

[2020-06-20 18:05] iwkse commented on #414
Hi, I'm getting the same error, how did you fix it?

[2020-06-22 07:57] ChameleonDevil commented on #812
Thank you @danmentzer, I was going to start debugging there as well ... but then you mentioned:

I am also not sure where it happens right at the moment.  When I see anything I will update.  Do you mean the migration tool **removes things from M1 first??**  This is dangerous, as we run live websites and one of the _features of this tool is **_delta migration which depends on triggers on a M1 lives

[2020-06-22 19:30] p810 commented on #828
@bakitoktas have you had any luck with this? We've also run into it and plan to start taking a look at it this week. I'd appreciate hearing any thoughts or insights you may have had about the issue if you don't mind.

[2020-06-22 19:31] p810 commented on #825
@magento add to contributors team

[2020-06-22 19:32] p810 commented on #825
See the initial comment above. Just adding my name to the contributor's team in case it's necessary as I noticed I missed that before.

[2020-06-22 21:18] bakitoktas commented on #828
@p810 not yet, It looks like an issue with the eav tables using Default_x.

[2020-06-23 04:09] dekiakbar commented on #759
@Dragonisser still got stuck on this issue, seems like missing or something wrong with customer attribute on database

[2020-06-23 05:30] dekiakbar commented on #759
I have fix it for my end, you can check it on this link https://stackoverflow.com/questions/59453442/magento-2-3-3-customer-shipping-address-firstname-trouble-firstname-is-requir/62527887#62527887

Hope this will help someone and work on your end too

[2020-06-23 07:28] Dragonissa commented on #759
Thanks, ill give it a try if i get the actual migration working again.

[2020-06-23 08:59] Ckaneriya commented on #316
@MoMannn

I have tried your script but I think it is not working in my case.

Let me explain what we did:

we have freshly installed 2.3.5-p1 and we have connected it to our live M1 database and performed first data migration and all the data and settings were migrated successfully. Approximately 2 -3 weeks after doing first data migration we have placed 3 test orders in the M2 website and additio

[2020-06-23 09:50] sergey-fedosimov opened #830 "Using source prefix instead of destination one for destination tables."
### Preconditions

1. https://github.com/magento/data-migration-tool/blob/2.3-develop/src/Migration/Step/ConfigurablePrices/Delta.php#L117
2. https://github.com/magento/data-migration-tool/blob/2.3-develop/src/Migration/Step/UrlRewrite/Version191to2000Delta.php#L134

### Additional notes
See subject.

[2020-06-23 13:05] Vishrootways commented on #316
@MoMannn Your script is working well for us, thank you. (Need to do few changes in code but it's working)
We have one question: We found that many tables are missing in script.php like all the tables of "m2_cl_catalog_product_entity_" and many more. So no need to add those tables or you just added only few tables to show sample code and we have to add all tables from our side?

[2020-06-23 13:48] MoMannn commented on #316
@Vishrootways I only added those that I needed for my project. Feel free to update and modify the script to your needs.

[2020-06-23 13:50] MoMannn commented on #316
@Ckaneriya Well this is not really the situation for which the script was created but I believe you could modify to suite your purpose.

[2020-06-23 15:36] ymln commented on #827
Looks like #829 fixes this.

[2020-06-23 22:14] kevinpandora opened #831 "Error while sending QUERY packet"
### Preconditions
1. Running data-migration-tool locally using MAMP on a Mac
2. Migrating from v1.8.1.0 to v2.3.5

### Steps to reproduce
1. Running the data-migration-tool to transfer data over
2. Reach the following step:
[2020-06-23 21:57:27][INFO][mode: data][stage: volume check][step: Customer Attributes Step]: started
[2020-06-23 21:57:27][INFO][mode: data][stage: data migration][step: Map S

[2020-06-23 22:16] kevinpandora commented on #831
@magento I am working on this

[2020-06-24 05:33] ronak2ram commented on #742
Having exactly the same issue with migrating from 1.9.3.2 to 2.3.5

[2020-06-24 07:56] Vishrootways commented on #316
@MoMannn Got it, thank you. Do you know how can we skip duplicate entiry error while running delta migration second time?

[2020-06-24 08:01] MoMannn commented on #316
@Vishrootways To be honest I haven't dealt with magento in 3 years so I am completely out of it. Sry I can't be of more help.

[2020-06-24 12:21] Morgy93 commented on #799
Probably same issue here:

M1: 1.9.4.5
M2: 2.4.5-p1

[code]

Seems to come from here: https://github.com/magento/data-migration-tool/blob/2.3-develop/src/Migration/Mode/Delta.php#L144

[2020-06-24 14:15] orozcodiaz commented on #742
For me the problem was someone edited the M1 DB manually and there were some missing data. You can just turn xdebug and find a spot. For me it was missing data for attribute set.

[2020-06-25 05:39] awby commented on #812
It appears that the call, in perform() to
`$this->attributeSetLeftoverDataCleaner->clean();`
results in the removal of product values for attributes which aren't in the attribute set

[2020-06-25 07:26] ChameleonDevil commented on #812
|Thank you :)

I will then try a new magento 2 migration when I disable / investigate the `clean()` function further.  Maybe this will be sufficient to have products' values in `catalog_product_super_link` / `catalog_product_entity_int` for those attributes.

[2020-06-25 09:20] Dragonissa commented on #759
@dekiakbar  Ive migrated the customers again and all of sudden i didnt had the issue. I'll give it a try if i find myself in the situation again.

[2020-06-25 13:21] snakezap commented on #827
Thank you "ymln".
I have new error now :  Warning: Error while sending QUERY packet. PID=850 in /www/vendor/magento/data-migration-tool/src/Migration/ResourceModel/Adapter/Mysql.php on line 182

[2020-06-25 16:44] rcady commented on #813
I am having this issue in a migration from 1.9.3.2 to 2.3.5-p1. However, I have used the develop branches fix for the 'undefined offset' error and the migration completes. However, one of my custom product attribute sets has no attribute groups assigned to it and I'm thinking that this fix is part of the reason. Is it possible that ignoring these errors is causing my attribute groups to not be imp

[2020-06-25 20:04] jadonbrownza commented on #823
Also having this issue.

[2020-06-26 09:19] takeoffdigital commented on #823
Met too same here
SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '9-Images' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_NAME'

[2020-06-26 11:26] ChameleonDevil commented on #813
When you do not have that fix applied, the data migration immediately fails, so that is not an option.  At the point that fix is applied  in `Step/Eav/Data/migrateCustomEntityAttributes()` the current implementation was created as follows by maintainer:

    `if (!isset($this->mapAttributeGroupIdsSourceDest[$record['attribute_group_id']])) {
                continue;
            }`

The processing

[2020-06-26 18:50] victor-v-rad commented on #825
Hi @p810

Sorry for the late reply. Since the recently, reported issues in this project are supported mainly by Magento community. But your PR contribution is very welcome! Thank you! When migrate using DMT 2.3.5, Migrated_ attribute sets should not exist because this https://github.com/magento/data-migration-tool/issues/627 functionality was implemented. Please take a look at https://github.com/m

[2020-06-29 07:15] alejandrosantafixie commented on #823
@scheMeZa @takeoffdigital Try with Magento & Data Migration Tool 2.3.4. Then, update your Magento version to 2.3.5.

[2020-06-29 19:54] p810 commented on #825
@victor-v-rad No problem, thanks for the reply! It looks like that took care of it - we must've missed that when we updated the config initially. I will close the pull request since this isn't a bug. Thanks again!

[2020-06-29 19:54] #825 closed, assigned to nobody

[2020-06-30 20:06] Litiano commented on #827
@snakezap  change mysql config `max_allowed_packet`.

[2020-07-02 01:35] xeontcs commented on #478
Hi,

Did you solve this issue?

I get the exact same error.

Thank you.

[2020-07-02 11:55] afoysal commented on #178
@jamesspittal , What is the solution ?
![migration_error](https://user-images.githubusercontent.com/1283998/86355902-2e372d00-bc8d-11ea-9450-ff464a448bb3.png)

[2020-07-03 11:04] domeglic commented on #478
I had a similar problem but with `customer_entity`. The problem was that one of the attributes was changed to have backend_type=static.

Check this file for a list of non-static attributes that the tool will try to load: `/etc/opensource-to-opensource/customer-attribute-groups.xml.dist`. Now check if any of these are set to backend_type=static in the table `eav_attribute`. In my case the attribute

[2020-07-04 05:49] xeontcs commented on #478
@domeglic Thank you!

I found this by dumping the data. I found the attributes which cause this issue.

I can migrate to a fresh M2 installation now.

But I'm having an issue when I tried to migrate data to a store which already built and design with some extensions.

I cleared all the sample data using https://gist.github.com/sjovanig/3c18d687c60bb39cd752ce63db5d72f7

The error I'm getting is,

[

[2020-07-09 11:01] mhafizumer commented on #708
t

[2020-07-09 14:13] hafizumer907 commented on #406
I have also need migrate only products mean complete catalog(products assigned with categories also), what should i do with custom product attributes?

Can anyone help me please @victor-v-rad  @yogeshsyscraft @jafar247commerce

[2020-07-09 23:04] jasonkcarter commented on #823
FYI, I was getting this exact error for a commerce-to-commerce migration from 1.14.4.5 to 2.3.5.  It was getting hung up on attribute_code `rma_entity_id`, despite being a completely fresh install and only having a single row for that attribute in M1.

After restoring from backup to a new fresh install and running with the latest nightly code I no longer get this error.

[2020-07-11 15:53] Jeeva-Rathinam commented on #204
@iphigenie @wedob13 @Tarek-Adra @niners52 @davidcollen Anyone finds the solution? Thanks to all

[2020-07-13 08:38] mhafizumer commented on #791
@victor-v-rad I am using magento 2.3.5-p1 and migration tool is 2.3.5, when i run this command `php bin/magento -r migrate:data app/code/Vendor/CompanyName/etc/opensource-to-opensource/1.9.3.10/config.xml`

Then is give me error SQLSTATE[42S02]: Base table or view not found: 1146 Table 'tildev_test1.eav_attribute_set' doesn't exist, query was: SELECT COUNT(*) FROM `eav_attribute_set`

It should pi

[2020-07-13 11:50] mhafizumer commented on #270
I have also got the same issue, it seem to miss appending prefix in left join table.
@Yamaha32088  please take a look on this any suggestion

![image](https://user-images.githubusercontent.com/67052331/87301416-fcde1d00-c528-11ea-9f67-4ac3546d8f76.png)

[2020-07-14 09:41] rakibabu commented on #204
Problem not resolved at 2.3.5 migration.

[2020-07-14 13:27] mobweb commented on #824
I have the same issue and I was unfortunately also unable to fix it by switching to the 2.3-develop branch.

Looking at my _eav_entity_type_ table it seems that there are 30 entity types, but the IDs are not incremental, number 19 and 22 are missing for me. The migration tool seems to have an issue with that.

[2020-07-14 14:23] mhafizumer commented on #406
Hi, I am try to migrate catalog only(products and category) @victor-v-rad  it migrate all above mention tables But my eav_attribute table is empty. how can we eav_attributes are also migrate?

[2020-07-15 10:13] mhafizumer commented on #813
@victor-v-rad I have latest code,

` if (!isset($this->mapAttributeGroupIdsSourceDest[$record['attribute_group_id']])) {
                continue;
            }`

But Still giving me error

**Notice: Undefined offset: 19 in /var/www/html/vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php on line 286**

What is the problem? even not found attribute_group_id is on `continue;

[2020-07-17 20:43] Nandhini27 commented on #753
Can you please share solution to fix the above, getting same issue. Migrated from 1.9.3.4 to 2.3.4

[2020-07-17 23:51] terfex commented on #204
@iphigenie Thanks, your solution worked on 2.3.3. I agree this tool should be able to remove this with the reset option.

[2020-07-22 05:48] PurushothamanKrishnamoorthy commented on #524
@victor-v-rad : This issue is generating for both 2.3.4 and 2.3.5 . It was working fine for me month, Now I'm facing the same issue. I have updated map files, config files and prefix too. Can you suggest ways to debug this issue.

And I can see these fields are already ignored by default in maps.xml but why we are getting these error?

[2020-07-22 06:01] PurushothamanKrishnamoorthy commented on #524
@victor-v-rad : I have ignore fields in map-stores.xml, it works but I'm getting below error:. Is that a right approach ?

![image](https://user-images.githubusercontent.com/7234860/88140194-e3b32b80-cc0e-11ea-9be0-9633d4ad92af.png)

[2020-07-22 07:27] codebase-md opened #832 "Merge of EAV Structure of Magento 1 with Magento 2 > Product Information lost caused by missing merge."
### Preconditions

1. Magento 1.9.0.1, Magento 2.3.5-p1
2. PHP 7.2.32
3. DTM 2.3.5

### Steps to reproduce

1. Migrate settings and data from M1 to M2

### Expected result

1. Custom attributes from M1 attribute set 'Default' attribute groups 'General' and 'Prices' are merged into M2 attribute set 'Default' groups 'General' and 'Prices'.

### Actual result

1. Custom attributes are migrated but no

[2020-07-23 02:09] gustavo807 opened #833 "How to import shopping cart rules only?"
I want to only import coupons and discount rules.

Can anyone explain in which data step this information is imported? and if it's possible without import the inventory.

[2020-07-23 10:27] stfn00 opened #834 "Delta migration error on "Url Rewrite Step""
Hi,
i am trying to do a second delta migration.
The first one was successful, but the latter gives me an error in the "Url Rewrite Step" step. This is the mistake:

`SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'magnum/champagne-436/champagne-serge-mathieu-cuvee-prestige-brut' for key 'URL_REWRITE_REQUEST_PATH_STORE_ID'`

How can I solve the problem?

I am migrating from m

[2020-07-23 15:00] mercurieus commented on #817
Have similar issue, but also lost all manufacturer attribute values, except where its set to NULL.
![image](https://user-images.githubusercontent.com/44647310/88299411-fd399d80-cd0a-11ea-9f5f-fdcc487cf167.png)
After investigation I found that at _PostProcessing Step_ class _Migration\Step\PostProcessing\Data\AttributeSetLeftoverDataCleaner_ do the cleaning process:
"Records which are still in prod

[2020-07-24 12:36] stfn00 commented on #834
@magento I am working on this

[2020-07-24 13:00] mercurieus commented on #817
As a quick fix I created SQL-query that adds existed _manufacture_ attribute to _Product details_ attribute set.
Run before launching data migration:
[code]

[2020-07-28 12:34] sahilrtpl opened #836 "Magento 1.9.3.2 to 2.3.5 migration"
### Preconditions

1. Magento 1 version-1.9.3.2
2. Magento 2 version-2.3.5

### Steps to reproduce

1. Install data migration tool-2.3.5
2. Migrate settings
3. Migrate Data

### Expected result

1.Data Migration completed successfully

### Actual result

1. [PDOException (23000)]
  SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '9-Images' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBU

[2020-07-28 15:13] victor-v-rad commented on #836
Hi @sahilrtpl
Please try 2.3-develop branch of DMT. The issue you have could be fixed there

[2020-07-28 19:57] Ddcdom commented on #640
@victor-v-rad I know this is old, but its a bug in M1 which allows you to create a product without an SKU. If you open an existing product, click 'duplicate', then it creates a new product in the database without an SKU. So if you duplicate a product, then close the page without setting an SKU, you get an entry in catalog_product_entity with a NULL for SKU, which then causes the volume check to fa

[2020-08-02 21:27] OldPlanets commented on #832
I ran into the same problem (I think from the description). The issue seems to be [https://github.com/magento/data-migration-tool/blob/7191f7c1e02256527b88de80a3d7ab86d403d3dd/src/Migration/Step/Eav/Data.php#L312](here): The ATTRIBUTE_SETS_NONE_DEFAULT flag removes the first attribute set from receiving the M2 default attributes.
I don't know the intention behind it since I'm not entirely familiar

[2020-08-05 18:18] p810 commented on #832
@OldPlanets I removed that line but I'm now getting the following error at the EAV migration step:

[code]

Any idea why this is happening? The migration ran fine beforehand with the exception of the missing product and product category data.

I'm running this against a clean installation of Magento 2.3.5, right after running `magento setup:install`. Should also note, this is with enterprise editi

[2020-08-11 11:37] mklooss commented on #817
You may should take a look at these changes:
https://github.com/magento/data-migration-tool/blob/2.3/src/Migration/Step/Eav/Data.php#L127
https://github.com/magento/data-migration-tool/blob/2.3/src/Migration/Step/Eav/Model/Data.php#L46

[2020-08-11 18:42] p810 commented on #832
Running with the `2.3-develop` branch fixed the above issue. However, I noticed that the missing category and product data issue was persisting, only this time it didn't apply to all attributes - for example, the price field was displaying correctly while product names were blank.

I dug into this a bit and confirmed that it wasn't related to the attribute set IDs like mentioned in another thread,

[2020-08-11 23:57] dpolt-cl commented on #493
Sorry to comment on a closed issue guys. I though it might still be helpful to someone.

The error happens when Pdo reconnects to MySQL in case of lost connection in vendor/magento/framework/DB/Adapter/Pdo/Mysql.php:
[code]

The \Magento\Framework\DB\Adapter\Pdo\Mysql::_connect has the following code:
[code]

Unfortunately, the data migration tool does not pass the 'initStatements' to the Pdo and

[2020-08-12 11:24] mklooss commented on #817
Currently fixed the issues with this SQL in the new Magento 2.3.5-p2 Setup:

You have to run this before you import the "data":
[code]

this code will add manufacturer to the default attribute set
[code]

so i don't have to enter the backend before i am re-running the data migration

Looks like Magento changed Naming of the first "Product Attribute Set Group"

[2020-08-13 14:21] pawan commented on #258
@atishgoswami how you managed this ? I also need to migrate from 1.14.2.2 to 2.3.3

[2020-08-17 12:44] BassemN opened #837 "Exception #0 (Exception): Item (Magento\Wishlist\Model\Item) with the same ID "9980" already exists."
### Preconditions
1. Magento 1 ver. 1.9.4.4 with PHP 5.6
2. Magento 2 ver. 2.3.5-p2 with PHP 7.3

### Steps to reproduce
1. Install Migration tool
2. Migrate settings
3. Migrate Data
4. Login into a customer account
5. Add a product to the wishlist

### Expected result
Adding products to the wishlist should work without any errors

### Actual result
After clicking on "Add to wishlist", I'm getting

[2020-08-17 14:04] ajithkumar-maragathavel commented on #811
@Rajat9620 Any guess you got on this issue? I am facing the same the issue.

[2020-08-18 23:44] jesse-thomas commented on #836
I'm having the same issue, the only difference is that I'm importing from Magento 1.9.4.1. I tried using 2.3-develop and still get the same error. I was migrating fine when on 2.3.3.

[2020-08-19 00:58] jesse-thomas commented on #836
I was able to finish running the data migration tool after removing the conflicting records in the M2 database. The table was eav_attribute_group. Run the migration then remove all rows that match the attribute_set_id, you might have to run the migration a few times and re-delete some records to get all the attribute set ids.

EDIT: After a little looking around I found that this causes issues dow

[2020-08-20 17:12] sweetappleuk opened #838 "Data Migration: core_store table not having prefix applied as part of join"
### Preconditions
1. Magento 1 version-1.9.4.5 Tables prefixed "mage_". Multiple stores configured
2. Magento 2 version-2.3.5p2.  Tables prefixed "m2_".

### Steps to reproduce
1. Install data migration tool-2.3.5
2. Add <source_prefix>mage_</source_prefix> and <dest_prefix>m2_</dest_prefix> to config.xml
3. Migrate settings successfully
4. Migrate Data

### Expected result
1. Data migration shoul

[2020-08-21 11:05] sweetappleuk commented on #838
To further confirm, modifying the source database to remove the 'mage_' table prefix allows the data import to proceed successfully with no other modifications.

The testing matrix for this tool definitely needs to be expanded to account for M1 sites with table prefixes, or updated instructions for those migrating from M1 to explicitly state that table prefixes should be removed from the source M1

[2020-08-21 22:01] jesse-thomas commented on #836
I had two things working against me. I had setup code in M2 to add all my custom attributes and attribute sets/groups, that needed to be commented out. Also adding the changes from 2.3-develop allowed a good migration.

[2020-08-24 10:16] BassemN commented on #837
@magento I am working on this

[2020-08-24 15:02] kamleshsolanki commented on #800
@ChameleonDevil How I can create symbolic links for custom file with vendor file.

[2020-08-29 12:05] kanevbg commented on #824
@victor-v-rad Using the 2.3-develop branch (as of today) resolved the issue for me.

[2020-09-02 06:24] raghav111jain opened #839 "if click Product show error database something"

[2020-09-02 08:02] #839 closed, assigned to nobody

[2020-09-02 14:19] simonrl commented on #334
Having the same error: move data to a new table, and rename columns at the same time.

1.9.2.4 -> 2.3.5 opensource-to-commerce

My setup is pretty similar to the one posted.

How did you solve this?

**Edit 1**: it should work exactly like this, according to the docs: https://devdocs.magento.com/guides/v2.3/migration/extend-the-tool.html

**Edit 2**: it was my mistake, i had the document ignored u

[2020-09-02 14:44] peihaochan commented on #791
Hi, I am having the same issue when I run cache:clean,

In Mysql.php line 110:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.core_config_data' doesn't exist, query was: SELECT `main_table`.* FROM `core_config_dat
  a` AS `main_table`

In Mysql.php line 91:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.core_config_data' doesn't exist

[2020-09-02 15:00] mhafizumer commented on #791
Pei Hao Chan please read carefully  tage   <options></options> in config.xml

I was did mistake to add these tags
<source_prefix>magento1_</source_prefix>
<crypt_key>6fac6c90c2774431f1185sadc65d8b98</crypt_key>
<options>

in the starting of options tage But I was not read options tage carefully
magento itself also add these tags source_prefix and crypt_key at the end
of options tag.

Just read opt

[2020-09-06 18:46] carlos-reynosa commented on #454
I'm getting this issue still.

[2020-09-06 18:58] carlos-reynosa commented on #800
I haven't had a problem using relative paths.

[2020-09-08 06:55] shellysajudev opened #840 "config.xml doesn't have crypt key in magento 1.9"
Migrating from Magento 1.9.2.2 to magento 2.3.4.
There is no crypt key in magento 1.9, how can I create/add the key?

Is  there a way to migrate without having the crypt key?

[2020-09-08 22:24] HeiderSati commented on #204
Same problem still occurring on Magento 2.3.5, very annoying, I mean why not displaying the offending record being inserted so that we could at least find out what to delete rather than display a very vague error like:

Duplicate entry '9-images' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_CODE'

I know, looking at this, it's the "eav_attribute_group" table, column: "attribute_se

[2020-09-09 16:07] jeffekg commented on #647
Would you not just remove the triggers by name, ie: DROP TRIGGER IF EXISTS trg_mgnt_sales_flat_order_after_insert;

[2020-09-09 21:04] sm7297 opened #841 "Customer Account Information Appearing with Blank Field"
### Preconditions

1. Migrate from Magento 1.11.0.0 EE to Magento 2.3.5-p1 CE
2. Used Data Migration tool version 2.3.5

### Expected result

1.  Customer Account Information should appear properly but blank fields are appearing

### Actual result

1. [Screenshot, logs]
![Blank_Fields on Account Information](https://user-images.githubusercontent.com/15437546/92654850-15db3280-f30e-11ea-827b-54abc0

[2020-09-10 13:04] HeiderSati commented on #204
Ok,... Debugged the damn thing,... now understood what's going on:

1) Download the latest "Data Migration Tool" (I'm on Magento CLI 2.3.5 at the time I wrote this response)

2) Goto vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php

3) Go to line 386, you should see the following code:

        foreach ($sourceRecords as $recordData) {
            $recordData['attribute_group_id'

[2020-09-10 15:01] HeiderSati commented on #827
Hi All, I added my comment that should fix this issue to the other ticket, please see my fix below:

Ok,... Debugged the damn thing,... now understood what's going on:

1) Download the latest "Data Migration Tool" (I'm on Magento CLI 2.3.5 at the time I wrote this response)
2) Goto vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php
3) Go to line 528, you should see the following fu

[2020-09-10 15:03] HeiderSati commented on #204
After the above fix, for people having the other problem of:

I fixed this one also on the following tickets:
[https://github.com/magento/data-migration-tool/pull/829](url)
[https://github.com/magento/data-migration-tool/issues/827](url)

[2020-09-10 17:07] ghost opened #842 "Catalog Search index process unknown error: SQLSTATE[42S22]: Column not found: 1054 Unknown column 't.store_id' in 'field list', query was: SELECT `u`.* FROM ( (SELECT `t`.`value`, `t`.`attribute_id`, `t`.`store_id` FROM `customer_entity_varchar` AS `t`...."
### Preconditions
1. Migrating from Magento 1.9.4.5
2. Migrating to Magento 2.4.0

### Steps to reproduce
1. Setup clean installation of Magento 2.4.0
2. Run Settings migration as usual
3. Run Data migration as usual
4. Perform reindexing

### Expected result
1. Successfully rebuilt Catalog Search index.

### Actual result
`Catalog Search index process unknown error:`
`SQLSTATE[42S22]: Column not

[2020-09-11 07:08] iamprasanthmp commented on #842
@magento I am working on this

[2020-09-11 07:08] iamprasanthmp commented on #842
@magento add to contributors team

[2020-09-12 11:35] abdelkebir commented on #204
You need maybe (depends on your case) to drop the following tables:

[code]

Worked for me, but it depends on your case, I think every case is special.

[2020-09-12 11:38] abdelkebir commented on #235
You need maybe (depends on your case) to drop the following tables:

[code]

Worked for me, but it depends on your case, I think every case is special.

[2020-09-12 13:58] kanevbg commented on #832
For the record:
Migration from 1.9.4.3 to 2.3.5-p2 using 2.3-develop version of the data-migration tool.
I have missing attribute manufacturer in all attribute sets and the data related to the products is not showing up in the backend after manually adding it to the the attribute sets.

[2020-09-14 11:37] Jeeva-Rathinam commented on #436
@victor-v-rad @seanscott49 @mrkkd2013 @jonbunce @deepjoshi94 Anyone help to solve this issue?

[2020-09-15 03:17] Jeeva-Rathinam commented on #436
How can i find which attribute is the error?

[2020-09-15 14:49] Eddcapone opened #843 "Delta Migration failing if a destination table has 0 entries"
# Summary (*)
I am running delta migration. I had to truncate a table in M2, so now I get: **Mismatch of entities in the document: catalog_product_entity Source: 6031 Destination: 0**

How can I repair that?

### Examples (*)

-

### Proposed solution

-

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as R

[2020-09-16 10:21] rak-dynamo opened #844 "Customer Group Id for NOT_LOGGED_IN_ID is missmatch in DB and File"
I have migrated from Magento 1.9.4.1 to 2.4.0.

1) After successfully migration, admin is working, and all the products status and stock is the same as Magento1
2) At the front-end, the product individual page is working fine.
3) But the category page is not showing any of the products for the non-logged-in user and showing error message **We can't find products matching the selection.**

1) After

[2020-09-17 11:57] PascalBrouwers commented on #836
Having the same issues. `Duplicate entry '110-prijskaart-winkel' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_CODE`.
But the old magento1 database only has 1 entry for this. So why the duplicate entry error?

[2020-09-17 12:47] PascalBrouwers commented on #836
Ok, this is happening but I don't know why.
2 inserts:
[code]

[code]

[2020-09-17 13:41] PascalBrouwers commented on #836
So, 1 is coming from `createProductAttributeSetStructures`
The other from `migrateAttributeGroups`

[2020-09-18 08:11] PascalBrouwers commented on #836
I was running migration multiple times but I forgot to remove the extra attribute groups from the default attribute set before restarting the migration again.

[2020-09-18 09:12] PascalBrouwers commented on #813
I'm having the same issue, but then for category attributes. It seems that those attribute groups are never processed. Only products are being processed in createMapProductAttributeGroupIds().

[2020-09-18 09:32] PascalBrouwers opened #845 "Additional category attribute groups are not being migrated"
### Preconditions

1. Magento 1.9.3.10
2. Magento 2.3.5

### Steps to reproduce

1. Have extra category attributes on a non-default attribute set in M1 database
2. Migrate data

### Expected result

1. Would expect category attributes and their attribute groups to be migrated

### Actual result

1. Error:  Notice: Undefined offset: 18 in vendor/magento/data-migration-tool/src/Migration/Step/Eav/Da

[2020-09-19 03:49] Jeeva-Rathinam opened #846 "Magento 2.3.4 Migration - After migrated from magento 1.9.2.3 Add product Error"
Preconditions

1. Centos 7 with Apache  - Migration from Magento 1.9.2.3 to Magento 2.3.4
2. PHP version: 7.3.21 & Mysql Version : 14.14

Steps to reproduce

1. After migrated from the data migration tool, successfully completed the process.
2. Then run compile command & clear cache

Expected result

1. Product edit page.

Actual result

1. If [click add product](https://snipboard.io/jXOcwz.jpg)
2

[2020-09-23 10:24] PascalBrouwers commented on #527
I had this issue too because of an attribute set group 'Configurable' in Magento1. Had to run this query to fix it:
[code]

Otherwise the component loads 'configurations' and 'configurable' in the same item, causing it to be an array instead of a string.

[2020-09-24 06:22] carlos-reynosa commented on #831
I'm also getting this error

[2020-09-24 07:16] carlos-reynosa commented on #831
@kevinpandora did you ever find a solution?

[2020-09-24 12:17] PascalBrouwers opened #847 "Data Migration Tool does not support migrating non-default entity-types and/or attribute set groups."
Data Migration Tool does not support migrating non-default entity-types and/or attribute set groups.

### Preconditions
1. Magento 2.3.5
2. Magento 2 already filled with certain other attributes
3. Magento 1.9.3.10 database

### Steps to reproduce

1. Have a Magento 2 with additional attributes and attribute set groups for non-product types.
2. I had attribute set group "Subnavigation Styling" for

[2020-09-24 12:26] PascalBrouwers commented on #847
Made a PR to fix this

[2020-09-24 12:26] PascalBrouwers commented on #847
Hope you can add this @victor-v-rad

[2020-09-25 18:46] zaximus84 commented on #493
@dpolt-cl  Your patched worked for me. Thanks for providing such a thorough description of the problem.

[2020-09-28 03:42] rafaelpatro commented on #235
Same issue in Migration Tool for Magento 2.4.0

[code]

Maybe it could be reopened. The attribute group code is created on the fly.
Script could check duplicated Group Names before creating Group Code values for insertion.

By the way, its a nice tool. Congrats!

[2020-09-28 12:31] cljk commented on #453
Was the reason in my case too. But I had several pages in a bilingual setup with same `identifier`.
Looked for it with

[code]

[2020-09-29 09:43] Bill-Daniels commented on #767
Hello.
I have the same issue now.
Was this issue fixed?

[2020-09-30 02:12] PivitParkour94 commented on #832
Getting the same issue as @kanevbg. I was going to make a separate issue for it.
Error is when upgrading from M1.9.3.7 to 2.3.5-p2

Can someone point to where the mapping of the attribute codes is defined? I assume there's just a missing mapping, but it could also just be a bug in copying the attribute values.

Found this that could possibly be similar for the countryofmanufacturer attribtue

[cod

[2020-09-30 02:25] PivitParkour94 commented on #832
A database level check to see the data for easy testing

[code]

[2020-10-01 01:52] PivitParkour94 commented on #832
I've narrowed it down to the PostProcessing step. When a migration is done without that step the manufacturer data is present on the M2 instance. Then running just that step, the manufacturer data is lost. Might be something weird like the manufacturer in this particular instance is on the default attribute set and is getting skipped or something and cleaned up as "leftover" eav data or something.

[2020-10-01 03:08] PivitParkour94 commented on #832
Ok so the manufacturer and color attribute values are lost for some reason. The eav_entity_attribute table (which links attributes with attribute sets) is missing the manufacturer attribute for some reason. It's not obvious why that's being skipped. There's no mention of manufacturer in all of the config mapping files or anything.

As it is not added, it shows up in the leftover attribute cleanup

[2020-10-02 13:33] abkrim commented on #453
In mi case are several duplicates.

[code]
More info:
Home is because there're 3 shop (multishop)

There is no other explanation or solution?

[2020-10-02 18:13] Aquive opened #849 "The website with id 1 that was requested wasn't found. Verify the website and try again"
### Preconditions
1. Magento 1.9.3.7 and Magento 2.3.4
2. Data Migration tool 2.3.4

### Steps to reproduce
1. Install and configure data migration tool
2. Run `bin/magento migrate:settings vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.7/config.xml` and wait to finish
3. Run `bin/magento migrate:data vendor/magento/data-migration-tool/etc/opensource-to-opensource/1.9.3.7/co

[2020-10-08 22:48] apollolux opened #850 "Cannot install tool using composer due to out-of-memory error, is there another install method?"
Installing the data-migration-tool using composer fails due to composer reaching memory limits during the dependency resolution stage. Removing the memory limit using composer's documented troubleshooting methods doesn't solve the problem. Is there a non-composer method to installing this Magento data-migration-tool?

### Preconditions

1. Linux shared hosting with cPanel from GoDaddy, 2GB RAM, SS

[2020-10-14 09:11] mobweb commented on #823
Any idea for a fix for those of us that can't downgrade to 2.3.5? I have to use 2.4.0. Also using a completely fresh M2 install by the way.

[2020-10-14 22:42] shaLVerma opened #852 "Could not unserialize data of sales_flat_order_item.weee_tax_applied"
### Preconditions

1. Magento 1.9.2.1 to Magento 2.3.4
2. PHP Version 7.2.33

### Steps to reproduce

1. Install data migration tool using composer
2. Set up necessary things like modification in config.xml, map.xml and class-map.xml

### Expected result

1. Migrated Successfully

### Actual result

1. Could not unserialize data of sales_flat_order_item.weee_tax_applied with record id 3740
2. Coul

[2020-10-14 22:49] shaLVerma commented on #852
@magento I am working on this

[2020-10-14 22:51] shaLVerma commented on #852
I need help to fix this issue. I did not find any solution @victor-v-rad please help me.

[2020-10-15 04:40] thedarkboo commented on #842
@iamprasanthmp Hi, i'm having the same problem.. so far from what i can tell, something in magento is trying to use customer address tables for the category information.

i got the admin working by doing this:

[code]

by adding the missing store_id field to those tables, indexing will work, and you should be able to gain access to the CATALOG -> CATEGORIES page,  but you'll see that none of the c

[2020-10-15 04:46] ghost commented on #842
Hello @thedarkboo,
The issue still exist when trying to migrate straight from 1.9.4.5 to 2.4.0.
The work around i figure out was to migrate to 2.3.4 and from there upgrading to 2.4.0.
Hope it solves the issue for you to.

[2020-10-17 15:06] muxmix opened #853 "Missing version 2.3.6"
Hello,

What about version 2.3.6?
Will it be released or should I use only version 2.3.5 then upgrade?

Thank you

[2020-10-19 19:10] c3labs opened #854 "How to migrate inventory data from an other source document?"
Hi community, Hi @victor-v-rad,

I successfully migrated data from magento 1.9.2 to 2.3.5 - but due to a multi ware house extension used in magento source i have to pull inventory data from a different table than 'cataloginventory_stock_item'. The table structure is very similar to the one used in 'cataloginventory_stock_item', plus there is the field 'website_id' in it!

I found two locations in

[2020-10-20 03:37] thedarkboo commented on #842
Hello, i just wanted to follow up.

When i did a `select * from catalog_category_entity` the attribute_set_id was set to 5 for all my entity_ids other than 1 (which was set to 0) so i did `update catalog_category_entity set attribute_set_id = 3 where attribute_set_id = 5;` and reindexed and flushed, and everything seems to be working now.

i might be wrong, but i think this might have to do with t

[2020-10-20 16:07] filippototaro opened #855 "M1.9.* to M2.4 Notice: Undefined offset: 19"
Hi, I would like migrate Magento 1.9.3 to Magento 2.4.0 and I managed without problems with 2 recent ecommerce with the same version. With this multilingual ecommerce which has been updated from version 1.4. * up to now I am having problems.

I follow the correct procedure to migrate, as I did for the other sites, I don't make changes to files to ignore tables or attributes but I get this:
`sudo p

[2020-10-21 11:25] kanevbg commented on #847
Is this applicable for 2.3.5, eg. to be added to the release of 2.3.6?

[2020-10-21 19:17] frmdstryr commented on #855
Had  the same error, hacked a few files to workaround it: https://github.com/magento/data-migration-tool/compare/2.4-develop...frmdstryr:2.4-develop

[2020-10-21 23:32] jas8522 commented on #783
Well, I sure hope so for those doing migrations now!

[2020-10-21 23:32] #783 closed, assigned to nobody

[2020-10-22 06:07] sharjeelz commented on #277
If you have migrated from magento 1.x to 2.x the images that you marked excluded in magento 1 will be hidden in magento 2

[2020-10-22 08:47] kanevbg commented on #853
7 days post release of Magento 2.3.6 :(

[2020-10-22 13:35] PascalBrouwers commented on #847
Yes, also for 2.4+

[2020-10-22 13:36] PascalBrouwers commented on #847
@victor-v-rad if you need a separate PR for 2.4 then let me know.

[2020-10-22 15:32] filippototaro commented on #855
it doesn't work unfortunately, I get this error:

`
[2020-10-22 15:27:30][INFO][mode: data][stage: data migration][step: EAV Step]: started
57% [================>-----------] Remaining Time: < 1 sec
In ErrorHandler.php line 61:

  Notice: Undefined index: destination in vendor/magento/data-migration-tool/src/Migration/Step/Eav/InitialData.php on line 200
`

[2020-10-24 18:50] ioweb-gr opened #856 "a page with "All Store Views" selected cannot be migrated due to url rewrites"
### Preconditions

1.  Magento 1.9.4.2  and Magento 2.4.1
2. Php 7.3.22

### Steps to reproduce
I'm trying to migrate a website but hitting a volumne check failed error at url rewrites. Apart from the duplicates issue it seems there's an issue with multistore installations when pages are set up like this

![image](https://user-images.githubusercontent.com/20220341/97091053-8ed5e580-1641-11eb-93ed-

[2020-10-26 06:06] varunfirstwire commented on #528
Hi,
I am also getting same error but on insert trigger while doing migration.
I have checked the permission of database user and getting that it has all the privileges.
mysql> SELECT * FROM mysql.user WHERE User='miguser'\G;
*************************** 1. row ***************************
                  Host: localhost
                  User: miguser
           Select_priv: Y
           Insert_pr

[2020-10-27 14:54] Morgy93 commented on #832
Same issue here with Magento 1.9.4.5 to 2.4.1
Doesn't work if attribute is in "general" tab but if I move it to something else it works.

The fun thing is that the migration worked fine prior to 2.4.1 but that doesn't match with all the reports I found.

Maybe this is also related to #812

[2020-10-28 10:26] PascalBrouwers commented on #646
With the 2.4.1 version I see this issue is still there. Multiselect attribute values are not found either in varchar or text table.

[2020-10-31 12:29] hanaks commented on #853
I have already installed Magento 2.3.6. Will there be a data migration tool for it?

[2020-11-03 13:43] norgeindian commented on #817
@mklooss , thanks a lot for your finding. That actually helped me to solve my issue.
But it's not Magento who change the naming. In a clean M2 instance, the group is correctly called 'Product Details'.
In my case I found the following reason for this issue:

If a third party module adds a product attribute to the well known group 'General' from Magento 1 (or any other random name), the group `Prod

[2020-11-03 16:00] norgeindian commented on #832
I faced the same issue.
Attributes in the General Tab are not migrated at all. Debugged a while an actually found a reason and solution in the end. Maybe that helps someone:

The entries in the `catalog_product_entity_...` tables are removed in `\Migration\Step\PostProcessing\Data\AttributeSetLeftoverDataCleaner::clean()`
But the problem is not there, the problem is a lot earlier in the EAV step.

[2020-11-04 09:13] kanevbg commented on #832
@norgeindian maybe [this PR](https://github.com/magento/data-migration-tool/pull/848) can fix your use case?

[2020-11-04 09:21] norgeindian commented on #832
@kanevbg , that seems to be a good approach in my eyes, yes. Thanks for the hint.
Would be great if #848 could be merged in general.
In the meantime I will try it with it.

[2020-11-04 09:52] kanevbg commented on #832
@norgeindian Please post back your experience with the PR.

[2020-11-05 13:15] netzkollektiv opened #857 "Configurable product prices are summarized for multiple stores (leads to higher prices in M2)"
### Preconditions
* Magento 1 => Magento 2 Migration
* Multi Store Setup

### Steps to reproduce
* Create a configurable product with three simple variants
* Define surcharge for the variants (super attribute pricing)
* Define different prices for different stores / websites for the configurable products
* Migrate to M2

### Expected result
* Prices should be same as in Magento 1 for different sto

[2020-11-05 13:17] netzkollektiv commented on #857
Here's the query for easier testing, just switch **mt.store_id** and **cs.store_id** in the group clause to reproduce behavior.

[code]

[2020-11-05 17:02] norgeindian commented on #832
@kanevbg , sorry, as Firegento fixed their issue with the wrong adding of the attribute group pretty fast, I did not try it with the PR. But can say for sure, that the migration of custom attributes in the "General" group work fine, when the groupname is not changed.

[2020-11-05 17:32] norgeindian commented on #832
@PivitParkour94 , after fixing my issue with the General attribute group, I also ran into your issue with `color` and `manufacturer` when migrating from 1.9.4.5 to 2.4.0.
I debugged a while and could actually find out why this happens.

- The Leftover Step cleans all entries in `catalog_product_entity_...` tables where there are no corresponding entries in `eav_entity_attribute` (see `\Migration\S

[2020-11-06 12:51] PascalBrouwers commented on #646
@victor-v-rad or @iphigenie can you open this issue again?

[2020-11-08 01:01] vandark25 commented on #853
Any update about this ?

[2020-11-09 03:46] PivitParkour94 commented on #832
@norgeindian We ended up just commenting out the `\Migration\Step\PostProcessing\Model\AttributeSetLeftoverData` step entirely because we were aware of all the data migrated and nothing was causing issues. It's a shame it didn't work out of the box. Otherwise, the migration tool has worked very well for a lot of migrations we have done

[2020-11-13 12:02] iphigenie commented on #646
Remember to clear the entries in the text table - these remaining entries just bit me when I upgraded to 2.4.1 and elasticsearch

can't seem to have reopen option, but checking

[2020-11-13 12:04] iphigenie commented on #646
@victor-v-rad either something was lost out of the commit https://github.com/magento/data-migration-tool/commit/c65b2839ac03ccc56aab5b37dbada95d61757034 OR some of the changes need to be put into the delta file too

If you can reopen some of the people in this thread might look into it

[2020-11-13 12:13] PascalBrouwers commented on #646
I did a data migration, not a delta migration btw.

[2020-11-13 14:30] iphigenie commented on #646
probably worth trying to see what of that commit might have been lost in the 2.4 upgrade - because it had fixed it

[2020-11-13 14:41] romastepa commented on #842
@thedarkboo @iamprasanthmp
you don't need update customer tables!

[code]

 {entity_type_id_you_need} you can check in `eav_entity_type` (entity_type_code = 'catalog_category')

[2020-11-13 15:02] PascalBrouwers commented on #646
Most of the code is in there. The only change I can find is this:
https://github.com/magento/data-migration-tool/commit/c65b2839ac03ccc56aab5b37dbada95d61757034#diff-2cf82acb061b809f48aeeffe5f07590dd3603a02b8d238326c71f83ee0184b9b

Which in 2.4 looks like:
[code]

[2020-11-13 15:05] PascalBrouwers commented on #646
But that looks ok
Also a small difference in src/Migration/Step/PostProcessing/Data/EntityTypeTextToVarcharMover.php
an added
`if ($multiselectIds) {`

[2020-11-13 18:01] thedarkboo commented on #842
@romastepa In the end, none of these solutions worked for me.. because when you set the entity_type_id to something else, it causes problems elsewhere. So in the end, i wrote a script to go through and reindex the db tables to be sequential and it seems to be working fine now.

The issue i had after setting the entity_type_id to 5 was the customer addresses where not showing up in the orders or th

[2020-11-14 18:19] Ddcdom commented on #853
Magento 2.4.1 was released on 14th October 2020. The day after (15th Oct) the corresponding migration tool was released.
Magento 2.3.6 was released on 14th October 2020, but still no migration tool.

[2020-11-24 17:34] treestonemedia opened #858 "Deltalog for catalog_product_super_attribute_pricing is not installed"
### Preconditions

1.  Magento 1 version 1.7.0.2
2.  Magento 2 version 2.4.1
3.  Magento 1 database has a prefix

### Steps to reproduce

1. Run migration tool with data
2. The config.xml has a value for `source_prefix`
3. Try running the migration a second time with mode delta

### Expected result

1.  The migration should run a second time and only bring in new records.

### Actual result

1. Ge

[2020-11-24 17:35] treestonemedia commented on #858
@magento I am working on this

[2020-11-24 17:35] treestonemedia commented on #858
@magento add to contributors team

[2020-11-24 17:39] treestonemedia commented on #858
@victor-v-rad can you please take a quick look at `src/vendor/magento/data-migration-tool/src/Migration/Step/ConfigurablePrices/Delta.php` ? it looks like there was an oversight with the table prefix

[2020-12-01 11:15] sweetappleuk commented on #853
For reference, if i try a migration from M1.9.4.5,  using M2.3.6 with the 2.3.5 migration tool, it repeatedly fails with the following error, after mapping out all errors via my migration Module.

Notice: Undefined offset: 7 in //vendor/magento/data-migration-tool/src/Migration/Step/Eav/Data.php on line 503

Would be good to have an official Migration TOol for 2.3.6 so I can at least eliminate tha

[2020-12-02 18:01] tim-breitenstein-it opened #859 "In ErrorHandler.php line 61: Notice: Undefined offset: 138 in src/Migration/Step/Eav/Data.php on line 571"
### Preconditions

1. Magento 2.4.2
2. Magento 1.3.10
3. PHP 7.4
4. MariaDB 10.3.27

### Steps to reproduce

1. Install Magento 2.4.1
2. Run `bin/magento migrate:data`

### Expected result

1. Successfully data migration

### Actual result

1. Error in [mode: data][stage: data migration][step: EAV Step]

[code]

### Additional notes

If we skip this
[code]
in line [L461](https://github.com/magento

[2020-12-02 18:06] tim-breitenstein-it commented on #859
@magento I am working on this

[2020-12-07 11:22] codebase-md commented on #832
Today I followed @norgeindian with his fix for the firegento/firegento-magesetup2 ([Fix attribute group](https://github.com/firegento/firegento-magesetup2/pull/187#issue-515262668)) and checked the values for attribute group with attribute_group_code=product-details in the table eav_attribute_group. The attribute_group_name was initially 'General' as described. I changed it back to 'Product Detail

[2020-12-09 21:18] anatoliidolia commented on #204
1) `DELETE FROM eav_attribute_set WHERE attribute_set_name != 'Default';`
2) You need to migrate to the fresh database, reinstall M2 DB, don't use `-r`

Have a nice migration

[2020-12-10 10:10] kanevbg commented on #204
@anatoliidolia What is the point of deleting your data before migration?

[2020-12-10 11:32] anatoliidolia commented on #204
@kanevbg  When you restart the process, the error described in point 1 occurs
This can be fixed by running my command: `DELETE FROM m2_DB.eav_attribute_set WHERE attribute_set_name != 'Default';`
Or use a fresh base

[2020-12-15 07:16] panusit commented on #849
Try this one

`DELETE FROM core_config_data WHERE scope_id = 1 AND scope = 'websites';`

[2020-12-21 12:05] WaPoNe opened #861 "Data Migration Tool with splitted database"
### Preconditions

1. Magento 1 Community 1.9.2.2
2. Magento 2 Commerce 2.4.1
3. Magento 2 splitted database (https://devdocs.magento.com/guides/v2.4/config-guide/multi-master/multi-master.html)

### Steps to reproduce

1.  php bin/magento migrate:data -a -r app/code/<Vendor>/<Module>/etc/opensource-to-commerce/1.9.2.2/config.xml

### Expected result

1. Data migration correctly completed.

### Ac

[2020-12-21 13:56] DmitryFurs commented on #861
@WaPoNe it has just been announced that the split database will be deprecated from version 2.4.2. Soon there will be recommendations for moving to a single database.

https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-split-database-functionality-in-Magento-Commerce/ba-p/465187

[2020-12-22 08:27] WaPoNe commented on #861
Thanks for the news @DmitryFurs

[2020-12-22 08:27] #861 closed, assigned to nobody

[2020-12-27 00:49] ahonecker76 commented on #853
I have exactly the same problem. 2.3.6 Migration tool seems not existing yet and 2.3.5 not working. - I am unable actually to migrate an old 1.9.x shop data now to new 2.3.6 :( - Any idea when it would be available ?

[2020-12-29 17:33] minenkoden commented on #837
@BassemN stacked with same problem. For me helped to override class with preference Magento\Wishlist\Model\Wishlist and change getItemCollection function to:
[code]

Point is to add `load()` function when creating collection with filters.

[2021-01-04 09:57] sharjeelz commented on #799
Try following
 Advanced -> Developer settings disable Asynchronous indexing and try to reindex again

[2021-01-04 19:39] pdpavel opened #862 "Incompatibility in data. Source document: eav_attribute. Field: backend_model. Error: Class Magento\Customer\Model\Customer\Attribute\Backend\Website is not mapped in record attribute_id=1"
### Preconditions
opensource-to-opensource magento 1.9.4.1 to magento 2.4.0
Enabled only
<config xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
        xs:noNamespaceSchemaLocation="urn:magento:module:Magento_DataMigrationTool:etc/config.xsd">
    ...
    <steps mode="data">
   ...
        <step title="EAV Step">
            <integrity>Migration\Step\Eav\Integrity</integrity>
            <da

[2021-01-04 21:09] jajajaime commented on #853
Bumping this, as I also need it for a project.

[2021-01-05 01:26] TimboDyne commented on #853
Bumping this as well, as I also have an immediate project requirement.

[2021-01-05 02:08] ahonecker76 commented on #853
In the meanwhile i could migrating the the date from 1.9.x shop to 2.3.6 shop with help of service called litextension (Google for it) Cost money but works 100% migrating all data and settings (like Taxes). I am only wondering they could do this and the free migration tool still is not able to.

[2021-01-05 12:51] ioweb-gr opened #863 "Cannot perform delta migration on multiselect attributes."
### Preconditions
1. Magento 1.9.4.2 to 2.4.1
2. Migration data tool 2.4.1

### Steps to reproduce
1. Create a required multi select attribute in Magento 1 and create products using this attribute.
2. Perform a single data migration.
3. Add more products in Magento 1 and fill this attribute.
4. Perform a delta migration

### Expected result
1. The new values are migrated

### Actual result
1. The

[2021-01-05 16:24] f1-outsourcing opened #864 "curious why composer needs >1,6GB of memory to install 1MB source code"
I am not really familiar with composer and using it. I wanted to give it a try, migrating some data from magento 1.9 to 2.3.

Added the repo with this
`php -d allow_url_fopen=1 ../composer-1.phar config repositories.data-migration-tool git https://github.com/magento/data-migration-tool --no-plugins`

executed this:
[code]
Getting this error:
[code]

Looking at top during this I see it grabbing 1.6

[2021-01-05 22:22] f1-outsourcing opened #865 "tried 1.9.3.8 to 2.3.6 (using 2.3.5)"
I copied the config.xml with

`cp -a ./opensource-to-opensource/1.9.3.8/config.xml.dist config.xml`

changed the databases source and destination

and ran

`bin/magento setup:upgrade`

Getting this error

[code]

[2021-01-06 10:23] f1-outsourcing commented on #850
I have the same, really ridiculous that 1,6GB of memory is still not enough to install this.

I have installed it like this
[code]
And getting error on setup:di:compile

`PHP Fatal error:  Interface 'Migration\App\Step\StageInterface' not found in /home/ ... /app/code/magento/data-migration-tool/src/Migration/App/SetupDeltaLog.php on line 16`

[2021-01-06 10:36] f1-outsourcing commented on #850
Oh oh when I create this symlink things start to work with the compile

[code]

[2021-01-06 16:53] f1-outsourcing commented on #853
"This is an Integration with a Third Party Service. " Yes and send all your data to a third party, very smart (and legal)

[2021-01-07 00:53] ahonecker76 commented on #853
I am terrible sorry, but i do not understand the meaning of your statement. Thats a 3th party service; correct. Thats legal to transfer all product attributes, products, shipment and tax settings; also correct.
Smart would be the initial tool would work, or getting an alternative solution.

[2021-01-08 15:28] rjm87 commented on #235
@rafaelpatro Did you fix this issue? I'm having the same issue when trying to migrate 1.9.4.5 > 2.4.1.

[2021-01-08 16:01] rjm87 commented on #836
Hi @PascalBrouwers, how did you fix this? I'm having the same issue (migrating from 1.9.4.5 > 2.4.1), but removing the extra attribute groups didn't work for me.

[2021-01-09 17:09] kennethvejen commented on #791
I got the same error and found out that if you have entered the database name in both
`<source>
        <database host="127.0.0.1" name="lr_shop_dk_db" user="root" password=""/>
    </source>`
and
`<source_prefix>lr_shop_dk_db</source_prefix>`
it conflicts.
It worked for me after I removed the source and dest prefix.

[2021-01-11 09:22] rjm87 commented on #235
I fixed the following error:
`  [PDOException (23000)]
  SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '75-Product details' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_NAME' `

with

`UPDATE magento.eav_attribute_group SET attribute_group_name = 'Product Details 2', attribute_group_code = 'product-details-2' WHERE attribute_group_id = '7';`

[2021-01-14 08:45] BassemN commented on #837
@minenkoden Many thanks. This code fixed the issue.
Thanks again :+1:

[2021-01-15 08:55] fooman commented on #864
@f1-outsourcing Composer does require quite a bit of memory to come to the right conclusion of what packages to install (it reads all possible packages into memory for this). 1.6GB would not be unusual.
 ([composer 2.1](https://github.com/composer/composer/pull/9261) might bring some major improvements). You can run the composer command with the --profile flag to see where memory usage happens.

[2021-01-15 15:23] tarikbelattar commented on #849
Thank you @panusit it works for me on Magento 2.3.5-p2
you saved my day 👍

[2021-01-15 17:34] jajajaime commented on #853
Just as an FYI, I did not have this issue migrating from a 1.9.2.4 to 2.3.6 using the 2.3.5 tool. The migration succeeded without issues.

[2021-01-19 12:20] mhafizumer commented on #791
Hi, I am migrate magento 1.9.4.2 to 2.3.4 (**open-source to open-source**)I am facing the same issue in PostProcessing Step,

error is `SQLSTATE[42S02]: Base table or view not found: 1146 Table 'umer_m2walls.magento_giftcard_amount' doesn't exist`

![image](https://user-images.githubusercontent.com/67052331/105033748-585e0a00-5a7a-11eb-92d3-406b0c57bb51.png)

In open-source there is no any **magen

[2021-01-20 20:23] DasserGIT commented on #865
I'm using Magento 2.3.6 there isn't a data migration tool for 2.3.6, will 2.3.5 work?
thanks

[2021-01-22 16:28] #859 closed, assigned to nobody

[2021-01-25 08:03] tim-breitenstein-it commented on #859
@magento add to contributors team

[2021-02-07 23:07] f1-outsourcing commented on #865
@DasserGIT

It worked for me. Mostly there are no changes in the architecture with minor upgrades like 2.3.x, I suppose this is the same for magento.
This is mostly related to copying data between databases, so it should work. I managed to get my orders, stores and products over.

[2021-02-08 09:46] f1-outsourcing commented on #853
@ahonecker76

But it is not legal to transfer customers data, without any data processing agreement, nor is it even smart to send all your customers data and what they bought to a third party. I would say it is even careless and irresponsible. Only nitwits handle their clients data like this.

[2021-02-10 12:17] #834 closed, assigned to nobody

[2021-02-18 12:48] VipinSimploics opened #867 "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.catalog_product_index_eav_decimal_outdated' doesn't exist, query was: SHOW INDEXES FROM catalog_product_index_eav_decimal_outdated WHERE `Non_unique` = 1"
AFTER RUN php bin/magento setup:upgrade this comment, it showing
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.catalog_product_index_eav_decimal_outdated' doesn't exist, query was: SHOW INDEXES FROM catalog_product_index_eav_decimal_outdated WHERE `Non_unique` = 1

error

after that my front-end and backend did not work

[2021-02-19 04:06] VipinSimploics commented on #867
@magento I am working on newly installed Magento 2.3.4, First of all, we are trying to install the Aitoc-core plugin, this is mandatory for install the Aitoc-Smtp extension. After the comment, I did run "php bin/magento setup:upgrade" comment for upgrade modules(DB schema), This time on the comment window appear the above Error. After that, I didn't available on the browser. I did disable the plug